<!-- Antes da Trilha 18:41:06 --><!-- Depois da Trilha 18:41:06 --><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xml:lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" lang="pt-br"><head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<meta http-equiv="Content-Language" content="pt-br">

<link rel="shortcut icon" href="/imagens/shorticon.gif" type="image/x-icon" />

<link rel="stylesheet" type="text/css" href="/ncss/style.css">
<link rel="stylesheet" type="text/css" href="/ncss/style_menu.css" media="screen">
<link rel="stylesheet" type="text/css" href="/ncss/jquery-ui-1.8.6.custom.css">
<link rel="stylesheet" type="text/css" href="/ncss/style_icone.css" />

<script type="text/javascript" src="/njs/nuclear.js"></script>
<script type="text/javascript" src="https://www.bcb.gov.br/Paginas/js/libs/jquery/1.11.2/jquery.js"></script>
<script type="text/javascript" src="/njs/jquery.cycle.all.min.js"></script>
<script type="text/javascript" src="/njs/jquery-ui-1.8.6.custom.min.js"></script>
<script type="text/javascript" src="https://www.bcb.gov.br/Paginas/js/core/bcb.analytics.js"></script>
<script type="text/javascript" src="https://www.bcb.gov.br/Paginas/js/libs/angularjs/1.3.14/angular.min.js"></script>

<script type="text/javascript">
 
  $(document).ready(function () {
	finiciar();
	trackGA(document.title);
  });

</script>


<noscript>

</noscript>



 
<base href="//www.bcb.gov.br/htms/copom/Not2004041495.asp" >
<title>95&ordf; Reuni&atilde;o</title>

<base href="http://www.bcb.gov.br/htms/copom/Not2004041495.asp">

<style>
div.conteudo{margin-right:10;text-align:left;}
div,font,li{font-family:verdana;}
</style>

<script type="text/javascript">


  	var t_idioma = "P";


</script>
<meta name="TAG_ID" content="COPOM95"/>
<meta name="TAG_DATA_PUBLICACAO" content="22/04/2004" />
</head>
<body>

<!-- Zona se Salto - DosVOX -->

<DIV class="noindex">
<ul id="salto">
     <li><a title="" accesskey="1" href="/.">Página principal do site</a></li>
     <li><a title="" accesskey="2" href="/?NOTICIAS">Notícias</a></li>
     <li><a title="" accesskey="3" href="/?MAPA">Mapa do site</a></li>
     <li><a title="" accesskey="5" href="/?FAQCIDADAO">Perguntas Frequentes</a></li>
     <li><a title="" accesskey="6" href="/?AJUDA">Ajuda</a></li>
	 <li><a title="" accesskey="7" href="/?Ouvidoria">Ouvidoria</a></li>
     <li><a title="" accesskey="8" href="/?PRIVACIDADE">Política de privacidade</a></li>
     <li><a title="" accesskey="9" href="/?FALECONOSCO">Fale conosco</a></li>
     <li><a title="" accesskey="0" href="/?AJUDA#teclasdeatalho">Detalhes das teclas de atalho</a></li>
     <li><a title="" href="#ancoraInicio">Saltar para o início da página corrente</a></li>
     <li><a title="" href="#ancoraMenu">Saltar para o menu principal</a></li>
     <li><a title="" href="#ancoraConteudo">Saltar para o novo conteúdo</a></li>

</ul>
	<div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;"> 
					<ul id="menu-barra-temp" style="list-style:none;">
								   <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED"><a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a></li> 
								   <li><a style="font-family:sans,sans-serif; text-decoration:none; color:white;" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a></li>
					</ul>
	</div>
</DIV>
  <div accesskey="i" class="wrap" name="ancoraInicio">
    <DIV class="noindex">
    <div id="barraSuperior" style="text-align: right; padding: 2px 0 2px 0; background-color: #DDDDDD;">
      	<a href="/?SOBREBC">Sobre a Instituição</a> |
        <a accesskey="5" href="/?FAQCIDADAO">Perguntas frequentes</a> | 
	<a href="/?GLOSSARIO">Glossário</a> | 
	<a accesskey="3" href="/?MAPA">Mapa do site</a> | 
	<a href="/?SISBACEN">Sisbacen</a> | 
	<a accesskey="9" href="/?FALECONOSCO">Fale conosco</a> | 
	<a href="/?LINKS">Links</a>
      | <i><a href="/?ENGLISH">English</a></i>
    </div>
    </DIV>

<script language="javascript">
function utf8_encode (argString) {
    // http://kevin.vanzonneveld.net
    // +   original by: Webtoolkit.info (http://www.webtoolkit.info/)
    // +   improved by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
    // +   improved by: sowberry
    // +    tweaked by: Jack
    // +   bugfixed by: Onno Marsman
    // +   improved by: Yves Sucaet
    // +   bugfixed by: Onno Marsman
    // +   bugfixed by: Ulrich
    // +   bugfixed by: Rafal Kukawski
    // +   improved by: kirilloid
    // *     example 1: utf8_encode('Kevin van Zonneveld');
    // *     returns 1: 'Kevin van Zonneveld'

    if (argString === null || typeof argString === "undefined") {
        return "";
    }

    var string = (argString + ''); // .replace(/\r\n/g, "\n").replace(/\r/g, "\n");
    var utftext = '',
        start, end, stringl = 0;

    start = end = 0;
    stringl = string.length;
    for (var n = 0; n < stringl; n++) {
        var c1 = string.charCodeAt(n);
        var enc = null;

        if (c1 < 128) {
            end++;
        } else if (c1 > 127 && c1 < 2048) {
            enc = String.fromCharCode((c1 >> 6) | 192, (c1 & 63) | 128);
        } else {
            enc = String.fromCharCode((c1 >> 12) | 224, ((c1 >> 6) & 63) | 128, (c1 & 63) | 128);
        }
        if (enc !== null) {
            if (end > start) {
                utftext += string.slice(start, end);
            }
            utftext += enc;
            start = end = n + 1;
        }
    }

    if (end > start) {
        utftext += string.slice(start, stringl);
    }

    return utftext;
}

function submeterBusca(consulta) {
	if(consulta && consulta != '')
		window.location = "/pt-br/#!/busca/" + encodeURIComponent(consulta.trim());
}
</script>
	
<DIV class="noindex">
    <div class="header">
    	<div id="linkLogo"><a accesskey="1" href="/" title="Ir para página inicial"><i>Início</i></a></div>
      <div class="search">
        <form method="get" id="busca" onsubmit="javascript:submeterBusca(consulta.value);">
          <fieldset>
            <label for="">
              Busca:</label>
    	    <input accesskey="4" name="consulta" id="consulta" size="26" class="txtfield" type="text" style="width: 170px;">
			<input name="pesquisar" value="submit" src="/imagens/bt_procurar.gif" class="bt_search" type="image"><br>
            <span class="busca_avancada"><a href="/pt-br/#!/buscaavancada" class="linkTitulos"
          title="Busca Avançada">Busca avan&ccedil;ada</a></span>
          </fieldset>
        </form>
      </div>
      <div id="data">
      </div>
      <div id="logoPrint"><img src="/imagens/logoPrint.jpg" width="242" height="55" alt="Logomarca BCB"></div>

<div accesskey="m" name="ancoraMenu" style="position: absolute; left:-9999px;"></div>

<!DOCTYPE html>
<html ng-app="appMenuSP">


<body>
<div ng-controller="MainCtrl" id="menunivel1" ng-cloak class="fixo clear">
<ul id="topo" class="fixo">
	<li ng-repeat="item in menu.Descendentes" on-last-repeat>
		<a href="{{item.Link.indexOf('http') > -1?item.Link:'/' + item.Link}}"><span class="spa1" id="isp{{$index+1}}">{{item.Titulo}}</span></a>
		<div class="latesq" id="kol{{$index}}">
			<ul ng-repeat="grupo in item.gruposFilhos">
				<li ng-repeat="subitem in grupo">
					<a href="{{subitem.Link.indexOf('http') > -1?subitem.Link:'/' + subitem.Link}}">{{subitem.Titulo}}</a>
				</li>
			</ul>
		</div>
	</li>
</ul>
</div>

<script>
	var appMenuSP; 

	(function() {
		appMenuSP = angular.module('appMenuSP', []);

		appMenuSP.directive('onLastRepeat', function() {
			return function(scope, element, attrs) {
				if (scope.$last) setTimeout(function(){
					scope.$emit('onRepeatLast', element, attrs);
				}, 1);
			};
		});
		
		appMenuSP.controller('MainCtrl', ['$scope', '$http', function($scope, $http) {
			$scope.$on('onRepeatLast', function(scope, element, attrs){
			  menu();
			  	if ((typeof(t_PaginaPrincipal)!="undefined") && (t_PaginaPrincipal) ) { 
                criar_menu_rodape();
			  }
			});
			var nomeArquivoJSONMenu = '/api/navegacao/pt-br/menu?niveis=2&server=asp';
			if ((typeof t_idioma !== 'undefined')&&(t_idioma == 'I')) {
				nomeArquivoJSONMenu = '/api/navegacao/pt-br/menu_en?niveis=2&server=asp';
			}
		    $http.get(nomeArquivoJSONMenu).success(function(response){
				$scope.menu = response.item;
				agruparFilhos($scope.menu, 5);
			});
		}]);
	})();
	
	function agruparFilhos (item, qtdeNoGrupo) {
		item.gruposFilhos = [];
		var indiceDoGrupo = 0;
		if ((typeof t_idioma !== 'undefined')&&(t_idioma == 'I')) {
			if (item.Link.indexOf('http') == -1)
			item.Link= "en/" + item.Link;
			//item.Link= "?" + item.ID;
		}
		if (item.Descendentes != null){
			for (var i = 0; i < item.Descendentes.length; i++) {
				var indiceNoGrupo = i % qtdeNoGrupo;
				if (indiceNoGrupo == 0) {
					item.gruposFilhos[indiceDoGrupo] = [];
				}
				
				item.gruposFilhos[indiceDoGrupo][indiceNoGrupo] = item.Descendentes[i];
				agruparFilhos(item.Descendentes[i], qtdeNoGrupo);
				
				if (indiceNoGrupo == qtdeNoGrupo-1) {
					indiceDoGrupo++;
				}
			}
		}
	}
</script>
</body>

</html></div>	<!--fim do header --></DIV> <!-- fim do noindex --><div name="ancoraConteudo" class="conteudo" accesskey="c"><div class="noindex trilha"> <!-- estrutura da trilha --><ul><li><a title="Início" href="/">Início</a>&nbsp;&raquo;&nbsp;</li>

<li><a title="Sistema de Metas para a Inflação" href="/#!/n/sismetas">Sistema de Metas para a Inflação</a>&nbsp;&raquo;&nbsp;</li>

<li><a title="Copom" href="/#!/n/copom">Copom</a>&nbsp;&raquo;&nbsp;</li>

<li><a title="Atas do Copom" href="http://www.bcb.gov.br?atacopom">Atas do Copom</a>&nbsp;&raquo;&nbsp;</li>

<li>95&ordf; Reuni&atilde;o</li>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div> <div class="clear"></div> <!-- estrutura da trilha #FIM --><h1>95&ordf; Reuni&atilde;o</h1>
<!--TAG_ID=COPOM95;-->
<!--TAG_DATA_PUBLICACAO=2004-04-22;-->
<!--TAG_CONTEUDO_INICIO-->
<div style="clear: left; font-size: 60%;">&nbsp;</div>
<!--conteudo-->
<div class="conteudo">
<strong><p>Sum&aacute;rio</p></strong>

<div><a href="#evolucao" title="Evolu&ccedil;&atilde;o recente da infla&ccedil;&atilde;o ">Evolu&ccedil;&atilde;o recente da infla&ccedil;&atilde;o </a></div>
<div><a href="#avaliacao" title="Avalia&ccedil;&atilde;o prospectiva das tend&ecirc;ncias da infla&ccedil;&atilde;o">Avalia&ccedil;&atilde;o prospectiva das tend&ecirc;ncias da infla&ccedil;&atilde;o</a></div>
<div><a href="#implementacao" title="Implementa&ccedil;&atilde;o da pol&iacute;tica monet&aacute;ria">Implementa&ccedil;&atilde;o da pol&iacute;tica monet&aacute;ria</a></div>
<div><a href="#atividade" title="Atividade econ&ocirc;mica">Atividade econ&ocirc;mica</a></div>
<div><a href="#mercado" title="Mercado de trabalho">Mercado de trabalho</a></div>
<div><a href="#setor" title="Ambiente externo">Ambiente externo</a></div>
<div><a href="#comercio" title="Com&eacute;rcio exterior">Com&eacute;rcio exterior</a></div>
<div><a href="#monetario" title="Mercado monet&aacute;rio e opera&ccedil;&otilde;es de mercado aberto">Mercado monet&aacute;rio e opera&ccedil;&otilde;es de mercado aberto</a></div>

<br>
<div><strong>Data:</strong> 13 e 14/4/2004</div>

<br>


<div><strong>Local:</strong> Sala de reuni&otilde;es do 8&ordm; andar (13/4) e do 20&ordm; andar (14/4) do Edif&iacute;cio-Sede
do Banco Central – Bras&iacute;lia – DF</div>

<div><strong>&nbsp;</strong></div>

<div><strong>Hor&aacute;rio de in&iacute;cio:</strong> 16h45 (13/4) e 15h30 (14/4)</div>

<div><strong>Hor&aacute;rio de t&eacute;rmino:</strong> 19h30 (13/4) e 16h15 (14/4)</div>

<br>


<div><strong>Presentes:</strong></div>

<div><strong>Membros do Copom</strong></div>

<div>Henrique de Campos Meirelles – Presidente</div>

<div>Afonso Sant’Anna
Bevilaqua</div>

<div>Alexandre
Schwartsman </div>

<div>Antonio Gustavo
Matos do Vale</div>

<div>Eduardo Henrique
de Mello Motta Loyo</div>

<div>Jo&atilde;o Ant&ocirc;nio
Fleury Teixeira</div>

<div>Luiz Augusto de
Oliveira Candiota</div>

<div>Paulo S&eacute;rgio Cavalheiro</div>

<div>S&eacute;rgio Darcy da Silva Alves</div>


<br>

<div><strong>Chefes de Departamento (todos presentes no dia 13)</strong></div>

<div>Altamir Lopes –
Departamento Econ&ocirc;mico</div>

<div>Daso Maranh&atilde;o
Coimbra – Departamento de Opera&ccedil;&otilde;es das Reservas Internacionais</div>

<div>Jos&eacute; Antonio
Marciano – Departamento de Opera&ccedil;&otilde;es Banc&aacute;rias e de Sistema de Pagamentos</div>

<div>Jos&eacute; Pedro Ramos
Fachada Martins da Silva – Ger&ecirc;ncia-Executiva de Relacionamento com
Investidores</div>

<div>Marcelo Kfoury
Muinhos – Departamento de Estudos e Pesquisas (tamb&eacute;m presente no dia 14)</div>

<div>Sergio
Goldenstein – Departamento de Opera&ccedil;&otilde;es do Mercado Aberto</div>


<br>

<div><strong>Demais participantes (presentes no dia 13)</strong></div>

<div>Alexandre Pundek
Rocha – Consultor da Diretoria</div>

<div>Fl&aacute;vio Pinheiro
de Melo – Consultor da Diretoria</div>

<div>Helio Jos&eacute;
Ferreira – Secret&aacute;rio-Executivo da Diretoria </div>

<div>Jo&atilde;o Batista do
Nascimento Magalh&atilde;es – Assessor Especial do Presidente</div>

<div>Jocimar Nastari –
Assessor de Imprensa</div>

<div>Katherine
Hennings – Consultora da Diretoria</div>


<br>

<div>Os membros do Copom analisaram a evolu&ccedil;&atilde;o recente e as
perspectivas da economia brasileira e da economia internacional no contexto do
regime de pol&iacute;tica monet&aacute;ria, cujo objetivo &eacute; atingir as metas fixadas pelo
governo para a infla&ccedil;&atilde;o.</div>


<br>
<b><div align="LEFT" style="z-index:2;margin-left:-0;"><a name="evolucao" title="Evolu&ccedil;&atilde;o recente da infla&ccedil;&atilde;o">Evolu&ccedil;&atilde;o recente da infla&ccedil;&atilde;o</a></div>
</b>
<ol>

<li>A infla&ccedil;&atilde;o mostrou desacelera&ccedil;&atilde;o em mar&ccedil;o, confirmando as
expectativas delineadas para o per&iacute;odo. O &Iacute;ndice Nacional de Pre&ccedil;os ao
Consumidor Amplo (IPCA) variou 0,47% no m&ecirc;s, ante 0,61% em fevereiro,
acumulando 1,85% no primeiro trimestre de 2004. O &Iacute;ndice Geral de Pre&ccedil;os –
Disponibilidade Interna (IGP-DI) acusou varia&ccedil;&atilde;o de 0,93%, comparativamente à
de 1,08% no m&ecirc;s anterior, perfazendo 2,84% no per&iacute;odo de janeiro a mar&ccedil;o de
2004. Esse desempenho decorreu principalmente do comportamento do &Iacute;ndice de
Pre&ccedil;os no Atacado – Disponibilidade Interna (IPA-DI), com aumento de 1,09% no
m&ecirc;s e de 3,3% no primeiro trimestre do ano. As varia&ccedil;&otilde;es do IPCA, IGP-DI e
IPA-DI acumuladas em doze meses mantiveram em mar&ccedil;o sua tend&ecirc;ncia de queda,
alcan&ccedil;ando, na ordem, 5,89%, 4,94% e 3,59%. </li>



<br><br><li>No IPCA, a redu&ccedil;&atilde;o da varia&ccedil;&atilde;o mensal deveu-se ao menor
impacto da alta das mensalidades escolares, principal fator de press&atilde;o em
fevereiro. Al&eacute;m disso, continuaram mostrando queda os pre&ccedil;os do &aacute;lcool
combust&iacute;vel (-12,87%), refletindo a safra favor&aacute;vel de cana-de-a&ccedil;&uacute;car. </li>



<br><br><li>No resultado do IPCA de mar&ccedil;o, a principal contribui&ccedil;&atilde;o
individual adveio do pre&ccedil;o do autom&oacute;vel novo, 0,07 p.p., em decorr&ecirc;ncia da alta
de 2,33% por repasses de aumentos nos custos de produ&ccedil;&atilde;o, al&eacute;m do t&eacute;rmino do
regime especial do Imposto sobre Produtos Industrializados (IPI).
Destacaram-se, ainda, entre os itens que registraram eleva&ccedil;&atilde;o, cigarros, com
contribui&ccedil;&atilde;o de 0,06 p.p., e a taxa de &aacute;gua e esgoto, refletindo reajustes em
quatro capitais, com 0,05 p.p. O grupo alimenta&ccedil;&atilde;o e bebidas registrou alta de
0,43%, ante 0,15% em fevereiro, destacando-se os aumentos nos pre&ccedil;os do &oacute;leo de
soja e dos ovos, al&eacute;m da alimenta&ccedil;&atilde;o fora do domic&iacute;lio.</li>



<br><br><li>Em rela&ccedil;&atilde;o aos monitorados, ressalte-se que as eleva&ccedil;&otilde;es de
pre&ccedil;os observadas recentemente em determinados itens t&ecirc;m se mostrado superiores
às expectativas. Os reajustes concedidos pelos governos locais para os servi&ccedil;os
de &aacute;gua e esgoto em Bras&iacute;lia, de 20%, e em Belo Horizonte, de 21%, em
percentuais bastante superiores à varia&ccedil;&atilde;o da infla&ccedil;&atilde;o dos &uacute;ltimos doze meses –
qualquer que seja o &iacute;ndice de pre&ccedil;o considerado – ilustram esse fato. Al&eacute;m
desse item, os recentes an&uacute;ncios para os reajustes de energia el&eacute;trica em Minas
Gerais e Pernambuco tamb&eacute;m se situaram acima do esperado. Esses aumentos t&ecirc;m
incorporado, al&eacute;m dos aumentos de custos indexados a &iacute;ndices de pre&ccedil;os, altas
decorrentes da realiza&ccedil;&atilde;o de investimentos por parte das distribuidoras e
parcela do reajuste devido em 2003. </li>



<br><br><li>Ainda em rela&ccedil;&atilde;o à evolu&ccedil;&atilde;o do IPCA em mar&ccedil;o, o conjunto dos
pre&ccedil;os livres variou 0,69%, respondendo por 0,49 p.p. da varia&ccedil;&atilde;o mensal do
&iacute;ndice, enquanto o recuo de 0,07% nos pre&ccedil;os monitorados respondeu por -0,02
p.p. No primeiro grupo, as altas dos bens comercializ&aacute;veis contribu&iacute;ram com
0,27 p.p. para a varia&ccedil;&atilde;o mensal do IPCA, enquanto os bens n&atilde;o-comercializ&aacute;veis
participaram com 0,22 p.p. Em rela&ccedil;&atilde;o aos pre&ccedil;os monitorados, a varia&ccedil;&atilde;o
negativa decorreu do impacto das quedas nos pre&ccedil;os do &aacute;lcool combust&iacute;vel e da
gasolina, que prevaleceram sobre as eleva&ccedil;&otilde;es das tarifas de &aacute;gua e esgoto e
dos pre&ccedil;os do g&aacute;s de buj&atilde;o. </li>



<br><br><li>No atacado, a varia&ccedil;&atilde;o do &Iacute;ndice de Pre&ccedil;os por Atacado (IPA)
diminuiu de fevereiro para mar&ccedil;o, de 1,42% para 1,09%. Esse resultado
acompanhou a trajet&oacute;ria dos pre&ccedil;os industriais, uma vez que houve revers&atilde;o do
comportamento do IPA-agr&iacute;cola, subindo 1,48% em mar&ccedil;o, ap&oacute;s recuos de 0,76% em
fevereiro e 0,34% em janeiro, principalmente pelas altas de 10,98% nos pre&ccedil;os
da soja, de 12,17% dos ovos, e de 7,01% dos legumes e frutas. Todavia,
continuaram em queda os pre&ccedil;os do arroz em casca, de bovinos e da
cana-de-a&ccedil;&uacute;car. </li>



<br><br><li>A varia&ccedil;&atilde;o dos pre&ccedil;os industriais no atacado atingiu 0,94% em
mar&ccedil;o, ante 2,29% em fevereiro, resultado influenciado principalmente pelo
comportamento dos pre&ccedil;os nos seguintes g&ecirc;neros: qu&iacute;mica (queda dos pre&ccedil;os do
&aacute;lcool e menor eleva&ccedil;&atilde;o em mat&eacute;rias pl&aacute;sticas e fertilizantes); produtos
alimentares (diminui&ccedil;&atilde;o dos efeitos altistas em &oacute;leos e gorduras); mec&acirc;nica;
material el&eacute;trico; madeira e mobili&aacute;rio; papel e papel&atilde;o; borracha; e tecidos,
vestu&aacute;rio e cal&ccedil;ados (desacelera&ccedil;&atilde;o da alta dos pre&ccedil;os). A alta dos pre&ccedil;os na
ind&uacute;stria metal&uacute;rgica (ferro, a&ccedil;o e derivados e metais n&atilde;o-ferrosos) continuou
apresentando a maior contribui&ccedil;&atilde;o para a varia&ccedil;&atilde;o absoluta do IPA-industrial,
0,37 p.p., tendo sua varia&ccedil;&atilde;o mensal de mar&ccedil;o sido id&ecirc;ntica à de fevereiro, 4%.
</li>



<br><br><li>O n&uacute;cleo de infla&ccedil;&atilde;o para o IPCA, calculado por exclus&atilde;o de
alimentos no domic&iacute;lio e pre&ccedil;os monitorados, foi a &uacute;nica entre as diversas
medidas de n&uacute;cleo que mostrou recuo na varia&ccedil;&atilde;o mensal, atingindo 0,85%, ante 1,00% em fevereiro,
em parte pelo esgotamento dos impactos da eleva&ccedil;&atilde;o das mensalidades escolares
que havia pressionado o resultado do m&ecirc;s anterior. A varia&ccedil;&atilde;o acumulada em doze
meses atingiu 7,09%
em mar&ccedil;o. </li>



<br><br><li>O n&uacute;cleo de infla&ccedil;&atilde;o para o IPCA, calculado pelo m&eacute;todo das
m&eacute;dias aparadas, passou de 0,48% em fevereiro para 0,76% em mar&ccedil;o, acumulando
9,47% nos &uacute;ltimos doze meses. A mesma medida, quando calculada sem o
procedimento de suaviza&ccedil;&atilde;o de itens preestabelecidos, alcan&ccedil;ou 0,65% no m&ecirc;s e
6,11% em doze meses. Assim como ocorreu com o IPCA cheio, as diversas medidas
de n&uacute;cleos, quando acumuladas em doze meses, registraram em mar&ccedil;o as menores
varia&ccedil;&otilde;es desde o final de 2002, embora se encontrem todas acima da varia&ccedil;&atilde;o do
IPCA cheio. </li>



<br><br><li>O n&uacute;cleo de infla&ccedil;&atilde;o para o &Iacute;ndice de Pre&ccedil;os ao Consumidor –
Brasil (IPC-Br), calculado pela Funda&ccedil;&atilde;o Getulio Vargas (FGV) pelo m&eacute;todo das
m&eacute;dias aparadas sim&eacute;tricas, atingiu 0,53% em mar&ccedil;o, ante 0,46% em fevereiro,
totalizando alta de 7,87% nos &uacute;ltimos doze meses. </li>



<br><br><li>Em abril, os &iacute;ndices de pre&ccedil;os ao consumidor dever&atilde;o ser
influenciados pelos aumentos nos pre&ccedil;os dos rem&eacute;dios e do vestu&aacute;rio e, dentre
os monitorados, pelos reajustes nas tarifas de &aacute;gua e esgoto e de energia
el&eacute;trica residencial. Deve-se observar que a magnitude e o ritmo de repasses das
altas dos pre&ccedil;os industriais no atacado para os pre&ccedil;os ao consumidor t&ecirc;m se
mostrado, segundo o resultado de mar&ccedil;o, dentro do esperado.</li>



<br><br>
<b><div align="LEFT" style="z-index:2;margin-left:-40;"><a name="avaliacao" title="Avalia&ccedil;&atilde;o prospectiva das tend&ecirc;ncias da infla&ccedil;&atilde;o">Avalia&ccedil;&atilde;o prospectiva das tend&ecirc;ncias da infla&ccedil;&atilde;o</a></div>
</b>



<br><li>Os choques identificados e
seus impactos foram reavaliados de acordo com as novas informa&ccedil;&otilde;es dispon&iacute;veis.
O cen&aacute;rio considerado nas simula&ccedil;&otilde;es contempla as seguintes hip&oacute;teses:</li>


<ol type="a">

<br><li>no caso da gasolina, as previs&otilde;es de reajustes para 2004 foram
mantidas em 9,5%. Houve revis&atilde;o das proje&ccedil;&otilde;es de reajustes para g&aacute;s de buj&atilde;o.
As novas proje&ccedil;&otilde;es acumulam 6,9% em todo o ano, 3,1 p.p. menor que a previs&atilde;o
de mar&ccedil;o;</li>



<br><br><li>em rela&ccedil;&atilde;o às tarifas de energia el&eacute;trica residencial, as
proje&ccedil;&otilde;es de reajuste para 2004 elevaram-se desde a ultima reuni&atilde;o do Copom,
mudando de 6,9% para 8,5%. No caso das tarifas de telefonia fixa, o Copom
manteve praticamente inalteradas suas proje&ccedil;&otilde;es, passando de 6,8% na reuni&atilde;o de
mar&ccedil;o para 6,7% atualmente;</li>



<br><br><li>considerando todos os itens administrados por contrato e
monitorados, com peso total de 28,8% no IPCA de mar&ccedil;o, projeta-se aumento de
7,4% ao longo do ano, 0,1 p.p. maior do que o projetado na reuni&atilde;o anterior;</li>



<br><br><li>a proje&ccedil;&atilde;o dos reajustes do total dos itens administrados por
contrato e monitorados para 2005, baseada no modelo de determina&ccedil;&atilde;o end&oacute;gena de
pre&ccedil;os administrados, cuja especifica&ccedil;&atilde;o considera componentes sazonais,
varia&ccedil;&otilde;es cambiais, infla&ccedil;&atilde;o de pre&ccedil;os livres e infla&ccedil;&atilde;o medida pelo &Iacute;ndice
Geral de Pre&ccedil;os (IGP), foi mantida em 6,0%;</li>



<br><br><li>a proje&ccedil;&atilde;o para <i>spread</i>
de seis meses sobre a taxa Selic, seguindo especifica&ccedil;&atilde;o de um modelo VAR que
utiliza Selic e <i>swap</i> em n&iacute;veis a
partir dos valores vigentes nos dias que antecederam a reuni&atilde;o do Copom,
encontra-se em 81
p.b. negativos no segundo trimestre de 2004 e se eleva a partir de ent&atilde;o at&eacute;
atingir 55 p.b. no quarto trimestre de 2005.</li>

</ol>


<br><li>Em rela&ccedil;&atilde;o à pol&iacute;tica
fiscal, sup&otilde;e-se o cumprimento da meta de super&aacute;vit prim&aacute;rio de 4,25% do
Produto Interno Bruto (PIB) neste e nos pr&oacute;ximos dois anos. S&atilde;o mantidas as
demais hip&oacute;teses consideradas na reuni&atilde;o anterior.</li>



<br><br><li>A partir da hip&oacute;tese de um
menor grau de persist&ecirc;ncia da infla&ccedil;&atilde;o, considerada pelo Copom desde a reuni&atilde;o
de mar&ccedil;o, e adotando as demais hip&oacute;teses do cen&aacute;rio de refer&ecirc;ncia, que incluem
a manuten&ccedil;&atilde;o da taxa de juros em 16,25% ao ano e da taxa de c&acirc;mbio em patamar
pr&oacute;ximo ao que prevalecia na v&eacute;spera da reuni&atilde;o do Copom (R$ 2,88), concluiu-se
que as proje&ccedil;&otilde;es de infla&ccedil;&atilde;o est&atilde;o ligeiramente abaixo da meta de 5,5% para
2004 e abaixo da meta de 4,5% para 2005. De acordo com o cen&aacute;rio de mercado,
que incorpora as trajet&oacute;rias para a taxa de c&acirc;mbio e para a taxa Selic
esperadas pelos agentes do mercado na v&eacute;spera da reuni&atilde;o do Copom, segundo os
dados da pesquisa realizada pela Ger&ecirc;ncia-Executiva de Relacionamento com
Investidores do Banco Central do Brasil (Gerin), as proje&ccedil;&otilde;es encontram-se
acima da meta tanto para 2004 quanto para 2005.</li>

<br><br>
<b><div align="LEFT" style="z-index:2;margin-left:-40;"><a name="implementacao" title="Implementa&ccedil;&atilde;o da pol&iacute;tica monet&aacute;ria">Implementa&ccedil;&atilde;o da pol&iacute;tica monet&aacute;ria</a></div>
</b>



<br><li>A infla&ccedil;&atilde;o medida pelo
IPCA recuou em mar&ccedil;o pelo segundo m&ecirc;s consecutivo, situando-se em valor pr&oacute;ximo
ao teto das expectativas do mercado para o m&ecirc;s. A press&atilde;o maior tem ocorrido
entre os pre&ccedil;os livres, cujos grupos comercializ&aacute;veis e n&atilde;o-comercializ&aacute;veis
apresentaram varia&ccedil;&otilde;es de 0,68% e 0,69%, respectivamente. Os pre&ccedil;os
administrados, por sua vez, contribu&iacute;ram significativamente para o recuo da
infla&ccedil;&atilde;o em mar&ccedil;o, registrando defla&ccedil;&atilde;o de 0,07%. At&eacute; esse momento, os bens
n&atilde;o-comercializ&aacute;veis s&atilde;o os que mais t&ecirc;m contribu&iacute;do para a infla&ccedil;&atilde;o deste ano,
apresentando uma varia&ccedil;&atilde;o acumulada de 3,33% no primeiro trimestre, enquanto
que os comercializ&aacute;veis e monitorados aumentaram 1,29% e 1,03%,
respectivamente. De fato, com
a acelera&ccedil;&atilde;o da taxa de infla&ccedil;&atilde;o dos bens n&atilde;o-comercializ&aacute;veis, de 1,19%
no &uacute;ltimo trimestre de 2003 para 3,33%, a contribui&ccedil;&atilde;o desse grupo para o IPCA aumentou
0,66 p.p. no &uacute;ltimo trimestre em compara&ccedil;&atilde;o com o trimestre anterior,
explicando praticamente toda a acelera&ccedil;&atilde;o da infla&ccedil;&atilde;o deste ano. Outros
&iacute;ndices de pre&ccedil;os ao consumidor de abrang&ecirc;ncia nacional registraram em mar&ccedil;o
valores pr&oacute;ximos aos do IPCA, como &eacute; o caso do &Iacute;ndice de Pre&ccedil;os ao Consumidor –
Disponibilidade Interna (IPC-DI). Entretanto, os &iacute;ndices gerais de pre&ccedil;os t&ecirc;m
registrado valores relativamente mais elevados. O IGP-DI elevou-se em 0,93% em
mar&ccedil;o, depois de ter aumentos de 0,80% e 1,08% em janeiro e fevereiro,
respectivamente.</li>



<br><br><li>Em contraste com o
movimento de desacelera&ccedil;&atilde;o observado no &iacute;ndice cheio, os n&uacute;cleos de infla&ccedil;&atilde;o do
IPCA calculados pelo m&eacute;todo das m&eacute;dias aparadas apresentaram aumento em mar&ccedil;o
em rela&ccedil;&atilde;o a fevereiro, revertendo a queda que havia sido observada entre
janeiro e fevereiro. O n&uacute;cleo calculado com a suaviza&ccedil;&atilde;o de itens
preestabelecidos passou de 0,48% para 0,76%, e o
calculado sem suaviza&ccedil;&atilde;o, de 0,28% para 0,65%. O n&uacute;cleo calculado por exclus&atilde;o
de alimentos no domic&iacute;lio e de itens administrados ainda foi significativo,
ficando em 0,85% em mar&ccedil;o ap&oacute;s 1,00% do m&ecirc;s
anterior. A propor&ccedil;&atilde;o de itens que tiveram aumento no IPCA aumentou de 60,4%
para 66,0%, mas ainda permaneceu dentro do intervalo de varia&ccedil;&atilde;o verificado nos
&uacute;ltimos meses. Deve-se notar que alguma eleva&ccedil;&atilde;o pontual das medidas de n&uacute;cleo
e de dispers&atilde;o da infla&ccedil;&atilde;o ao consumidor &eacute; justific&aacute;vel como conseq&uuml;&ecirc;ncia dos
aumentos recentes de pre&ccedil;os no atacado, ainda que esses repasses permane&ccedil;am
moderados, conforme esperado, e compat&iacute;veis com cen&aacute;rios benignos para a
trajet&oacute;ria futura da infla&ccedil;&atilde;o.</li>



<br><br><li>A atividade econ&ocirc;mica
continua em tend&ecirc;ncia de expans&atilde;o, apesar dos resultados referentes à produ&ccedil;&atilde;o
industrial de fevereiro, que sofreu queda de 1,8% em rela&ccedil;&atilde;o a janeiro. Esse
arrefecimento, antecipado nas Notas da reuni&atilde;o de mar&ccedil;o do Copom, &eacute; plenamente
consistente com a din&acirc;mica usual de retomada c&iacute;clica do n&iacute;vel de atividade,
estando associado à pr&oacute;pria intensidade da recupera&ccedil;&atilde;o verificada no segundo
semestre de 2003. A recupera&ccedil;&atilde;o ocorreu de forma r&aacute;pida e intensa, fato que se
tornou mais evidente segundo a nova s&eacute;rie de produto industrial do Instituto
Brasileiro de Geografia e Estat&iacute;stica (IBGE). Por essa s&eacute;rie, no segundo
semestre de 2003, a produ&ccedil;&atilde;o industrial situou-se em um patamar 4,2% superior à
do primeiro semestre, enquanto pela s&eacute;rie antiga o crescimento havia sido de
2,3%. Em novembro de 2003, atingiu-se o maior n&iacute;vel de produ&ccedil;&atilde;o industrial
verificado na hist&oacute;ria do pa&iacute;s, ap&oacute;s crescimento dessazonalizado de 9,6% em
rela&ccedil;&atilde;o ao vale representado pela produ&ccedil;&atilde;o de junho. Desde ent&atilde;o, por&eacute;m, a nova
s&eacute;rie mostra retra&ccedil;&atilde;o do produto industrial, a despeito de outras evid&ecirc;ncias
que assinalam a continuidade da recupera&ccedil;&atilde;o econ&ocirc;mica, enquanto a s&eacute;rie antiga
indicava estabilidade na margem. Outra modifica&ccedil;&atilde;o importante da s&eacute;rie com nova
metodologia foi indicar um maior dinamismo para o setor de bens de consumo
semidur&aacute;veis e n&atilde;o-dur&aacute;veis. Enquanto a s&eacute;rie antiga indicava dezembro como o
mais baixo n&iacute;vel de produ&ccedil;&atilde;o de 2003, pela nova s&eacute;rie esse m&ecirc;s representa um
pico, equivalente a um crescimento dessazonalizado de 9,2% em rela&ccedil;&atilde;o ao vale
de julho.</li>



<br><br><li>V&aacute;rios indicadores
coincidentes e antecedentes corroboram a avalia&ccedil;&atilde;o do Copom de que a tend&ecirc;ncia
&eacute; de manuten&ccedil;&atilde;o da trajet&oacute;ria de expans&atilde;o da atividade econ&ocirc;mica. A produ&ccedil;&atilde;o de
papel&atilde;o ondulado permanece na trajet&oacute;ria de crescimento iniciada em setembro
(em seis dos sete &uacute;ltimos meses houve taxas positivas de crescimento). A
produ&ccedil;&atilde;o da ind&uacute;stria automobil&iacute;stica voltou a crescer em mar&ccedil;o. O rendimento
m&eacute;dio real habitual das pessoas ocupadas nas seis regi&otilde;es metropolitanas
abrangidas pela Pesquisa Mensal de Emprego do IBGE aumentou em fevereiro pelo
segundo m&ecirc;s consecutivo. A massa salarial real da ind&uacute;stria de transforma&ccedil;&atilde;o,
segundo dados da Confedera&ccedil;&atilde;o Nacional da Ind&uacute;stria (CNI) e da Federa&ccedil;&atilde;o das
Ind&uacute;strias do Estado de S&atilde;o Paulo (Fiesp), segue uma tend&ecirc;ncia de expans&atilde;o
desde o segundo trimestre de 2003 e j&aacute; se encontra em n&iacute;veis superiores aos
verificados em 2002. No caso dos dados da Fiesp, o crescimento do emprego no
primeiro trimestre de 2004 foi o maior desde 1999, indicando que o crescimento
da produ&ccedil;&atilde;o industrial j&aacute; est&aacute; tendo reflexo no n&iacute;vel de emprego. Os
indicadores de consumo tamb&eacute;m tendem a ser positivos, embora com menor
intensidade. O volume de vendas no varejo no pa&iacute;s, usando dados do IBGE
dessazonalizados pelo Banco Central, apresentou um crescimento de 2,1% em
janeiro em rela&ccedil;&atilde;o ao m&ecirc;s anterior, correspondendo a um valor 6,1% maior do que
do mesmo m&ecirc;s de 2003. O faturamento real do com&eacute;rcio na regi&atilde;o metropolitana de
S&atilde;o Paulo continua crescendo, apresentando uma varia&ccedil;&atilde;o positiva de 2,0% em
fevereiro quando comparado com o m&ecirc;s anterior, segundo dados da Federa&ccedil;&atilde;o do
Com&eacute;rcio do Estado de S&atilde;o Paulo (Fecomercio SP) dessazonalizados pelo Banco
Central. O cr&eacute;dito, por sua vez, tamb&eacute;m continua em trajet&oacute;ria de expans&atilde;o.
Embora o &Iacute;ndice de Inten&ccedil;&otilde;es do Consumidor (IIC) tenha apresentado quedas em
mar&ccedil;o e abril, essas quedas n&atilde;o tiveram contrapartida aparente nas estat&iacute;sticas
de vendas do varejo.</li>



<br><br><li>As contas externas
brasileiras continuam apresentando resultados positivos bastante expressivos.
Em mar&ccedil;o, o saldo da balan&ccedil;a comercial foi 73,3% superior ao do mesmo m&ecirc;s de
2003. No primeiro trimestre do ano, o saldo atingiu US$6,2 bilh&otilde;es, contra
US$3,8 bilh&otilde;es no mesmo per&iacute;odo do ano anterior. Apesar do crescimento da
economia previsto para este ano, projeta-se um super&aacute;vit para a balan&ccedil;a comercial
pr&oacute;ximo do verificado em 2003. Em virtude desses resultados expressivos, o
saldo de transa&ccedil;&otilde;es correntes continua positivo, acumulando um super&aacute;vit de
US$1,7 bilh&atilde;o no primeiro trimestre. O risco Brasil medido pelo Embi+ do JP
Morgan, ap&oacute;s uma eleva&ccedil;&atilde;o entre janeiro e fevereiro, tornou a estabilizar-se.
Entre as v&eacute;speras das reuni&otilde;es de mar&ccedil;o e abril, o Embi+ Brasil reduziu-se de
valores pr&oacute;ximos a 560 p.b. para 540 p.b. A taxa de c&acirc;mbio permanece
praticamente est&aacute;vel, em torno de R$2,90 por d&oacute;lar norte-americano. </li>



<br><br><li>De forma geral, o cen&aacute;rio
externo permanece bastante favor&aacute;vel. A perspectiva de crescimento das
principais economias mundiais estimula o saldo comercial. Al&eacute;m disso, a
antecipa&ccedil;&atilde;o da previs&atilde;o de aumento da taxa de juros b&aacute;sica nos Estados Unidos,
ap&oacute;s a divulga&ccedil;&atilde;o dos dados de vendas e de infla&ccedil;&atilde;o ao consumidor de mar&ccedil;o, n&atilde;o
deve acarretar corre&ccedil;&otilde;es muito acentuadas nos custos e na disponibilidade do
financiamento externo para a economia brasileira ao longo de 2004, apesar da
prov&aacute;vel instabilidade que dever&aacute; ser observada no curto prazo. &Eacute; importante
ressaltar que cen&aacute;rios plaus&iacute;veis de eleva&ccedil;&atilde;o da taxa b&aacute;sica norte-americana j&aacute;
est&atilde;o precificados pelos mercados de t&iacute;tulos, o que permite antever um impacto
residual menor sobre as condi&ccedil;&otilde;es de liquidez internacional no momento em que
esses cen&aacute;rios vierem a se concretizar. Al&eacute;m disso, o expressivo ajuste de
conta corrente realizado pelo Brasil e a redu&ccedil;&atilde;o da parcela da d&iacute;vida p&uacute;blica
com indexa&ccedil;&atilde;o cambial contribuem significativamente para mitigar n&atilde;o s&oacute; o
impacto que uma dada deteriora&ccedil;&atilde;o das condi&ccedil;&otilde;es de liquidez internacional teria
sobre o financiamento do balan&ccedil;o de pagamentos brasileiro, como tamb&eacute;m o
impacto de piores condi&ccedil;&otilde;es de financiamento externo com que o pa&iacute;s se defronte
sobre sua taxa de c&acirc;mbio. </li>



<br><br><li>Apesar de a infla&ccedil;&atilde;o do
primeiro trimestre ter sido superior à infla&ccedil;&atilde;o esperada, as expectativas de
infla&ccedil;&atilde;o do mercado permaneceram relativamente est&aacute;veis. A pequena eleva&ccedil;&atilde;o
verificada deve-se principalmente à incorpora&ccedil;&atilde;o dos valores j&aacute; observados da
infla&ccedil;&atilde;o deste ano. No final de dezembro, a expectativa, segundo pesquisa da
Gerin, era de uma infla&ccedil;&atilde;o de 1,51% para o primeiro trimestre de 2004, enquanto
que a infla&ccedil;&atilde;o verificada foi de 1,85%. O efeito sobre as expectativas foi marginal;
elas permanecem, portanto, adequadamente ancoradas. Para 2004, a expectativa
subiu de 6,00% no final de dezembro para 6,06% na v&eacute;spera da reuni&atilde;o do Copom.
Para 2005, as expectativas permaneceram em 5,00%. Para os pr&oacute;ximos doze meses,
a expectativa de infla&ccedil;&atilde;o tamb&eacute;m teve uma eleva&ccedil;&atilde;o marginal, de 5,41% para
5,48%, entre as duas
&uacute;ltimas reuni&otilde;es.</li>



<br><br><li>O Copom considerou
particularmente as proje&ccedil;&otilde;es de infla&ccedil;&atilde;o do Banco Central do Brasil sob a
hip&oacute;tese de um baixo grau de persist&ecirc;ncia da infla&ccedil;&atilde;o do primeiro trimestre,
hip&oacute;tese essa consubstanciada em um al&iacute;vio sazonal na infla&ccedil;&atilde;o dos pre&ccedil;os
livres no segundo e terceiro trimestres, em conformidade com o padr&atilde;o observado
nos &uacute;ltimos anos. O cen&aacute;rio de refer&ecirc;ncia, que sup&otilde;e a manuten&ccedil;&atilde;o da taxa Selic
em 16,25% a.a. e da taxa de c&acirc;mbio em R$2,88 ao longo do horizonte de proje&ccedil;&atilde;o,
aponta para uma infla&ccedil;&atilde;o ligeiramente inferior à meta de 5,5% em 2004 e abaixo
da meta de 4,5% em 2005. De acordo com o cen&aacute;rio de mercado, que incorpora as
trajet&oacute;rias de c&acirc;mbio e de taxa Selic esperadas pelo mercado na v&eacute;spera da
reuni&atilde;o do Copom, as proje&ccedil;&otilde;es de infla&ccedil;&atilde;o do Banco Central do Brasil situam-se
acima das metas para 2004 e para 2005. Em rela&ccedil;&atilde;o a mar&ccedil;o, houve aumento da
proje&ccedil;&atilde;o para 2004 nos dois cen&aacute;rios, pois a infla&ccedil;&atilde;o verificada em mar&ccedil;o
situou-se acima do que ambos os cen&aacute;rios apontavam na reuni&atilde;o passada. O
cen&aacute;rio de mercado projeta infla&ccedil;&otilde;es mais altas do que o cen&aacute;rio de refer&ecirc;ncia
por pressupor uma tend&ecirc;ncia declinante da taxa de juros e uma eleva&ccedil;&atilde;o, ainda que
pequena, na taxa de c&acirc;mbio. </li>



<br><br><li>Dado que o valor projetado
pelos dois cen&aacute;rios para a infla&ccedil;&atilde;o de abril situou-se muito pr&oacute;ximo ao
esperado pelas institui&ccedil;&otilde;es classificadas como <i>Top 5</i> de curto prazo na
pesquisa da Gerin, incorporar essas expectativas aos cen&aacute;rios de proje&ccedil;&atilde;o, como
vinha sendo feito pelo Copom em Notas recentes, n&atilde;o altera de forma
significativa, neste caso, as infla&ccedil;&otilde;es projetadas para 2004 e 2005.</li>



<br><br><li>Tendo em vista o cen&aacute;rio para a infla&ccedil;&atilde;o
configurado pelas considera&ccedil;&otilde;es dos par&aacute;grafos anteriores, o Copom decidiu, por
unanimidade, reduzir a meta para a taxa Selic para 16,0% a.a., sem vi&eacute;s. O
Comit&ecirc; entendeu que essa redu&ccedil;&atilde;o &eacute; coerente com o diagn&oacute;stico da &uacute;ltima
reuni&atilde;o, que atribui uma maior probabilidade ao cen&aacute;rio benigno de baixa persist&ecirc;ncia
para a infla&ccedil;&atilde;o nos pr&oacute;ximos meses, permanecendo baixa a intensidade de repasse
dos pre&ccedil;os do atacado para o varejo.</li>



<br><br><li>O Copom
avalia que a atua&ccedil;&atilde;o cautelosa da pol&iacute;tica monet&aacute;ria tem sido fundamental para
aumentar a probabilidade de que a infla&ccedil;&atilde;o convirja para a trajet&oacute;ria das
metas. Para que essa maior probabilidade se materialize, entretanto, &eacute; preciso
que os indicadores prospectivos de infla&ccedil;&atilde;o continuem apresentando elementos
compat&iacute;veis com o cen&aacute;rio benigno de baixa persist&ecirc;ncia que tem sido considerado.
</li>



<br><br><li>A din&acirc;mica da pol&iacute;tica monet&aacute;ria tem contornos diferenciados
quando se est&aacute; enfrentando uma crise aguda, como no fim de 2002 e in&iacute;cio de
2003, ou quando nos defrontamos com situa&ccedil;&otilde;es de maior estabilidade
macroecon&ocirc;mica, como em meses recentes. Logo, quando se reverte a crise, como a
taxa de juros ainda se encontra em patamares bastante elevados, os decr&eacute;scimos
tendem a ser maiores. Por&eacute;m, outra din&acirc;mica deve ser observada em situa&ccedil;&otilde;es de
maior estabilidade, quando a converg&ecirc;ncia da infla&ccedil;&atilde;o para a trajet&oacute;ria de
metas, em paralelo ao processo sustentado de retomada da atividade, deve ser
completada de forma muito mais cuidadosa. </li>



<br><br><li>O Copom ressalta que n&atilde;o faz sentido, diante do quadro de
normaliza&ccedil;&atilde;o macroecon&ocirc;mica que o pa&iacute;s vem logrando consolidar, inferir de
forma mec&acirc;nica que um ritmo mais moderado de redu&ccedil;&otilde;es dos juros corresponda a
uma avalia&ccedil;&atilde;o negativa sobre o comportamento futuro da infla&ccedil;&atilde;o, ou que dele
deva resultar pessimismo a respeito da trajet&oacute;ria futura do n&iacute;vel de atividade.
Pelo contr&aacute;rio, um sintoma natural da normaliza&ccedil;&atilde;o progressiva do ambiente
macroecon&ocirc;mico &eacute; justamente o decaimento do ritmo m&eacute;dio dos cortes da taxa de
juros b&aacute;sica. Al&eacute;m de permitir um maior alcance ao processo de flexibiliza&ccedil;&atilde;o,
tal procedimento viabiliza uma transi&ccedil;&atilde;o suave para um cen&aacute;rio duradouro de
estabilidade com crescimento econ&ocirc;mico, mediante menor volatilidade das taxas
de juros de mercado no m&eacute;dio prazo. </li>



<br><br><li> Ao final da reuni&atilde;o, foi registrado que o Comit&ecirc;
voltaria a se reunir em 18 de maio de 2004 para as apresenta&ccedil;&otilde;es t&eacute;cnicas e, no
dia seguinte, para deliberar sobre a pol&iacute;tica monet&aacute;ria, conforme estabelecido
pelo Comunicado 11.516, de 15.10.2003.</li>



<br><br>
<b><div align="LEFT" style="z-index:2;margin-left:-40;">SUM&Aacute;RIO DOS DADOS ANALISADOS PELO COPOM</div>
</b>

<br>
<b><div align="LEFT" style="z-index:2;margin-left:-40;"><a name="atividade" title="Atividade econ&ocirc;mica">Atividade econ&ocirc;mica</a></div>
</b>



<br><li> Os resultados das estat&iacute;sticas referentes à
produ&ccedil;&atilde;o e às vendas em fevereiro de 2004 devem ser analisados com cautela, uma
vez que neste ano, diferentemente do que em 2003, os feriados do Carnaval
ocorreram em fevereiro. O menor n&uacute;mero de dias &uacute;teis em fevereiro (18) frente
ao ano passado (20), embora tenha impacto diferente entre os diversos setores,
pode distorcer as estat&iacute;sticas nas compara&ccedil;&otilde;es mensais e anuais dos fluxos de
produ&ccedil;&atilde;o e vendas. Tais distor&ccedil;&otilde;es podem n&atilde;o ser totalmente eliminadas pelos
crit&eacute;rios usuais de dessazonaliza&ccedil;&atilde;o e tendem a minorar os resultados de
fevereiro deste ano e majorar os resultados de mar&ccedil;o. </li>



<br><br><li>Segundo informa&ccedil;&otilde;es da Fecomercio SP, o
faturamento real do com&eacute;rcio varejista na Regi&atilde;o Metropolitana de S&atilde;o Paulo
cresceu 2% em fevereiro, ante o de janeiro, na s&eacute;rie dessazonalizada. No ano,
at&eacute; fevereiro, observou-se expans&atilde;o de 5,9% comparativamente ao do mesmo
per&iacute;odo de 2003. </li>



<br><br><li>As consultas ao cadastro da Associa&ccedil;&atilde;o Comercial
de S&atilde;o Paulo (ACSP) mostraram, em mar&ccedil;o, acr&eacute;scimos de 3,7% nas compras a
cr&eacute;dito e de 4,3% no sistema Usecheque, em compara&ccedil;&atilde;o com o observado no m&ecirc;s
anterior, ap&oacute;s ajuste sazonal. No ano, at&eacute; mar&ccedil;o, esses mesmos indicadores
revelaram expans&otilde;es respectivas de 7,2% e 0,8%. </li>



<br><br><li>A pesquisa mensal da Fecomercio SP sobre a confian&ccedil;a do
consumidor registrou retra&ccedil;&atilde;o de 9,1% no IIC em abril, sua terceira queda
consecutiva. O resultado refletiu o decl&iacute;nio tanto nas inten&ccedil;&otilde;es atuais quanto
futuras de consumo, tendo se situado em 105,2, em escala de zero a 200. </li>



<br><br><li>Quanto aos investimentos, houve recuo na absor&ccedil;&atilde;o
dom&eacute;stica de bens de capital em fevereiro, comparativamente ao observado no m&ecirc;s
anterior. A produ&ccedil;&atilde;o de m&aacute;quinas e equipamentos e a de insumos da constru&ccedil;&atilde;o
civil diminu&iacute;ram 2,4% e 3,1%, respectivamente, enquanto as importa&ccedil;&otilde;es e as
exporta&ccedil;&otilde;es de bens de capital registraram aumentos respectivos de 18,9% e
1,2%. </li>



<br><br><li>No tocante à produ&ccedil;&atilde;o industrial brasileira, a
primeira divulga&ccedil;&atilde;o do desempenho da ind&uacute;stria com base na nova metodologia da
Pesquisa Industrial Mensal do IBGE, referente a fevereiro de 2004, mostrou
queda de 1,8% da atividade fabril relativamente à de janeiro, na s&eacute;rie
dessazonalizada. A an&aacute;lise por categorias de uso revela que esse movimento foi
generalizado, atingindo com maior intensidade a produ&ccedil;&atilde;o de bens de consumo
dur&aacute;veis e bens de capital, que vinham mostrando alta acentuada nos &uacute;ltimos
seis meses. Assim, deve-se notar que os resultados negativos em fevereiro
refletem, em boa medida, o patamar elevado da produ&ccedil;&atilde;o nos &uacute;ltimos meses.
Quando comparada à de igual m&ecirc;s do ano anterior, a produ&ccedil;&atilde;o industrial cresceu
1,8% em fevereiro, em que pese o menor n&uacute;mero de dias &uacute;teis nesse m&ecirc;s em 2004,
assinalando a sexta varia&ccedil;&atilde;o mensal positiva consecutiva nessa base de
compara&ccedil;&atilde;o.</li>



<br><br><li>No segmento
automobil&iacute;stico, houve eleva&ccedil;&atilde;o de 0,3% da produ&ccedil;&atilde;o em mar&ccedil;o, destacando-se a
expans&atilde;o de 18,6% das vendas externas de ve&iacute;culos, enquanto as vendas internas
recuaram 6,1% em rela&ccedil;&atilde;o às do m&ecirc;s anterior, na s&eacute;rie dessazonalizada. No ano,
at&eacute; mar&ccedil;o, a produ&ccedil;&atilde;o, as vendas internas e as exporta&ccedil;&otilde;es cresceram 13,5%,
18,4% e 13,4%, respectivamente.</li>

<br><br>
<b><div align="LEFT" style="z-index:2;margin-left:-40;"><a name="mercado" title="Mercado de trabalho">Mercado de trabalho</a></div>
</b>

<br><li>O &iacute;ndice de emprego formal aumentou 0,4% em fevereiro ante o
de janeiro, ap&oacute;s ajuste sazonal, e 3,4% em compara&ccedil;&atilde;o ao de mesmo m&ecirc;s do ano
anterior, de acordo com informa&ccedil;&otilde;es do Minist&eacute;rio do Trabalho e Emprego (MTE).
Segundo a Pesquisa Mensal do Emprego (PME), realizada pelo IBGE nas seis
principais regi&otilde;es metropolitanas do pa&iacute;s, a taxa de desocupa&ccedil;&atilde;o alcan&ccedil;ou 12%
da Popula&ccedil;&atilde;o Economicamente Ativa (PEA) em fevereiro, ante os 11,7% observados
no m&ecirc;s anterior. O resultado decorreu do aumento da PEA, enquanto o n&uacute;mero de
pessoas ocupadas ficou praticamente est&aacute;vel de janeiro para fevereiro. A mesma
pesquisa do IBGE registrou, em fevereiro, aumento de 0,5% em fevereiro
relativamente ao m&ecirc;s anterior, no rendimento m&eacute;dio real habitualmente recebido
pelas pessoas ocupadas (deflacionado pelo &Iacute;ndice Nacional de Pre&ccedil;os ao
Consumidor – INPC). </li>



<br><br><li>No setor industrial, segundo os &iacute;ndices da CNI com ajuste
sazonal, o pessoal empregado e a massa salarial real aumentaram 0,4% e 1,1% em
fevereiro, respectivamente, ante janeiro. Na compara&ccedil;&atilde;o com o mesmo m&ecirc;s do ano
anterior, a massa salarial real cresceu 7,2%, consignando a quarta taxa
positiva consecutiva nessa base de compara&ccedil;&atilde;o.</li>



<br><br>
<b><div align="LEFT" style="z-index:2;margin-left:-40;"><a name="setor" title="Ambiente externo">Ambiente externo</a></div>
</b>

<br><li>Os indicadores econ&ocirc;micos mundiais indicam continuidade do
crescimento, principalmente nos Estados Unidos e na &Aacute;sia. Estimativas mais
recentes apontam crescimento global mais vigoroso em 2004, apesar da lenta
rea&ccedil;&atilde;o da economia europ&eacute;ia. No entanto, o otimismo econ&ocirc;mico pode vir a ser
solapado por um eventual agravamento do quadro geopol&iacute;tico. </li>



<br><br><li>Nos EUA, os dados de emprego apontam recupera&ccedil;&atilde;o do mercado de
trabalho, com cria&ccedil;&atilde;o de 308 mil novos postos – acima das expectativas,
portanto. Os pedidos iniciais de seguro-desemprego tamb&eacute;m v&ecirc;m apresentando
recuos semanais. Contudo, ainda &eacute; prematuro concluir por uma tend&ecirc;ncia firme de
recupera&ccedil;&atilde;o, pois a taxa de desemprego passou de 5,6% em fevereiro para 5,7% em
mar&ccedil;o. Outros indicadores macroecon&ocirc;micos apontam para a continuidade do
crescimento econ&ocirc;mico no primeiro trimestre, como a expans&atilde;o de 0,7% da
produ&ccedil;&atilde;o industrial, em fevereiro, e das vendas no varejo, que cresceram 1,8%
em mar&ccedil;o, maior resultado em um ano. </li>



<br><br><li>A recupera&ccedil;&atilde;o prossegue lenta na Europa, dada a falta de rea&ccedil;&atilde;o
dos componentes da demanda dom&eacute;stica na regi&atilde;o, em especial na Alemanha. De
acordo com a Comiss&atilde;o Europ&eacute;ia, cerca de seis pa&iacute;ses da regi&atilde;o devem
ultrapassar o limite de 3% para o d&eacute;ficit fiscal estabelecido pelo Pacto de
Estabilidade e Crescimento. A impossibilidade de ampliar os est&iacute;mulos fiscais e
monet&aacute;rios adiciona maior ceticismo na recupera&ccedil;&atilde;o da &Aacute;rea do Euro. </li>



<br><br><li>As expectativas empresariais melhoraram nos EUA e no Jap&atilde;o em
mar&ccedil;o, mas mantiveram-se est&aacute;veis na Europa. Quanto às expectativas dos consumidores,
essas permaneceram est&aacute;veis nos EUA e na Europa e houve leve alta no Jap&atilde;o. </li>



<br><br><li>Na aus&ecirc;ncia de press&otilde;es inflacion&aacute;rias, as taxas de juros
b&aacute;sicas mant&ecirc;m-se est&aacute;veis nas principais economias. No entanto, os indicadores
mais promissores do mercado de trabalho nos EUA anteciparam as expectativas do
mercado de que o <i>Federal Reserve</i>
iniciaria o processo de eleva&ccedil;&atilde;o das taxas de juros ainda neste ano. Houve
rea&ccedil;&atilde;o positiva nas taxas dos t&iacute;tulos do governo norte-americano, acompanhada
pelo mercado de <i>treasuries</i> das
economias europ&eacute;ias. Os mercados futuros de taxas de juros v&ecirc;m mostrando
elevada volatilidade. Nos mercados cambiais permanece a deprecia&ccedil;&atilde;o do d&oacute;lar,
devido aos crescentes d&eacute;ficits em conta corrente nos EUA. </li>



<br><br><li>Os pre&ccedil;os das <i>commodities</i>
atingiram n&iacute;veis recordes em mar&ccedil;o. Os estoques de passagem de gr&atilde;os mant&ecirc;m-se
em n&iacute;vel historicamente baixo devido às condi&ccedil;&otilde;es atmosf&eacute;ricas dos &uacute;ltimos anos
e à recente quebra de safra no hemisf&eacute;rio sul. Juntamente com a forte demanda
mundial, isso tem pressionado os pre&ccedil;os. Os pre&ccedil;os dos metais tamb&eacute;m se mant&ecirc;m
acima das m&eacute;dias hist&oacute;ricas, refletindo a press&atilde;o de demanda e os baixos
estoques. No caso do petr&oacute;leo, a press&atilde;o nos pre&ccedil;os tamb&eacute;m decorre do
recrudescimento das tens&otilde;es no Iraque. </li>



<br><br>
<b><div align="LEFT" style="z-index:2;margin-left:-40;"><a name="comercio" title="Com&eacute;rcio exterior">Com&eacute;rcio exterior</a></div>
</b>


<br><li>A balan&ccedil;a comercial registrou super&aacute;vit de US$2,6 bilh&otilde;es em
mar&ccedil;o. As exporta&ccedil;&otilde;es cresceram 25% e as importa&ccedil;&otilde;es, 18,8%, comparativamente
aos valores m&eacute;dios di&aacute;rios registrados em mar&ccedil;o de 2003. Em abril, at&eacute; a
segunda semana (seis dias &uacute;teis), o super&aacute;vit comercial totalizou US$576
milh&otilde;es, e o acumulado do ano atingiu US$6,7 bilh&otilde;es, ante US$4,5 bilh&otilde;es
verificados em per&iacute;odo equivalente de 2003. </li>



<br><br><li>No primeiro trimestre, as exporta&ccedil;&otilde;es somaram US$19,4 bilh&otilde;es,
e as importa&ccedil;&otilde;es, US$13,3 bilh&otilde;es, com m&eacute;dias di&aacute;rias de US$313,7 milh&otilde;es e
US$214,2 milh&otilde;es, respectivamente. Frente ao mesmo per&iacute;odo do ano passado, as
vendas externas apresentaram crescimento de 27,2% e as compras, 16,2%. No ano,
somando-se os seis dias &uacute;teis de abril, as exporta&ccedil;&otilde;es acumularam US$21,5
bilh&otilde;es e as importa&ccedil;&otilde;es, US$14,7 bilh&otilde;es, com saldo positivo de US$6,7
bilh&otilde;es. A m&eacute;dia di&aacute;ria das vendas ao exterior atingiu US$315,9 milh&otilde;es no
per&iacute;odo, valor 27% superior ao de per&iacute;odo equivalente em 2003. Nas compras do
exterior, o valor m&eacute;dio de US$216,6 milh&otilde;es ficou 17,6% acima do valor
observado no mesmo per&iacute;odo do ano passado. </li>



<br><br>
<b><div align="LEFT" style="z-index:2;margin-left:-40;"><a name="monetario" title="Mercado monet&aacute;rio e opera&ccedil;&otilde;es de mercado aberto">Mercado monet&aacute;rio e opera&ccedil;&otilde;es de mercado aberto</a></div>
</b>

<br><li>No per&iacute;odo posterior à reuni&atilde;o de mar&ccedil;o do Copom, a curva de
juros futuros apresentou significativa altera&ccedil;&atilde;o em sua inclina&ccedil;&atilde;o, com redu&ccedil;&atilde;o
das taxas de curto prazo e eleva&ccedil;&atilde;o das taxas de prazos superiores a um ano. Os
principais fatores que contribu&iacute;ram para o movimento de baixa do trecho curto
foram a redu&ccedil;&atilde;o da meta para a taxa Selic e as expectativas favor&aacute;veis quanto à
trajet&oacute;ria da infla&ccedil;&atilde;o. Esse movimento foi parcialmente revertido pelo fato de
o IPCA e os seus n&uacute;cleos terem sido superiores ao esperado pelo mercado. J&aacute; o
trecho longo da curva foi influenciado pela maior coloca&ccedil;&atilde;o de Letras do
Tesouro Nacional (LTN) pelo Tesouro e pela eleva&ccedil;&atilde;o das taxas das <i>treasuries</i>
norte-americanas. Entre 17 de mar&ccedil;o e 13 de abril, enquanto as taxas de juros
de um m&ecirc;s e de seis meses reduziram-se, respectivamente, em 0,23 p.p. e 0,16
p.p., as taxas de um, de dois e de tr&ecirc;s anos registraram eleva&ccedil;&atilde;o de 0,11 p.p.,
0,33 p.p. e 0,48 p.p., respectivamente. A taxa real de juros, medida pelo
quociente entre a taxa nominal de doze
meses e a expectativa de infla&ccedil;&atilde;o para os pr&oacute;ximos doze meses, manteve-se
est&aacute;vel em 9,4%. </li>



<br><br><li>A exemplo do que vem ocorrendo desde meados de dezembro do ano
passado, o Banco Central n&atilde;o efetuou, no per&iacute;odo, leil&atilde;o de rolagem para os
vencimentos de t&iacute;tulos e de <i>swaps</i> cambiais. Assim, inclu&iacute;dos os
vencimentos de juros, o resgate l&iacute;quido desses instrumentos no ano, at&eacute; o final
de abril, chegar&aacute; a US$14,1 bilh&otilde;es, dos quais US$3,8 bilh&otilde;es somente neste
m&ecirc;s.</li>



<br><br><li>O Tesouro Nacional realizou quatro leil&otilde;es de venda de LTN com
vencimento em abril de 2005 e em janeiro de 2006, cujo volume financeiro
alcan&ccedil;ou R$19,1 bilh&otilde;es. A emiss&atilde;o de Notas do Tesouro Nacional, s&eacute;rie C
(NTN-C) alcan&ccedil;ou R$2,2 bilh&otilde;es, sendo R$1,3 bilh&atilde;o liquidado em moeda corrente.</li>



<br><br><li>O Banco Central manteve, nas suas interven&ccedil;&otilde;es no mercado
aberto, as opera&ccedil;&otilde;es compromissadas semanais p&oacute;s-fixadas, com prazo de duas
semanas, e prefixadas, com prazo de tr&ecirc;s meses, assim como as opera&ccedil;&otilde;es di&aacute;rias
de nivelamento, com prazo de dois dias &uacute;teis. Efetuou ainda outras onze
interven&ccedil;&otilde;es, tomando recursos por meio de opera&ccedil;&otilde;es compromissadas prefixadas
com prazo entre um e tr&ecirc;s dias &uacute;teis. O excesso m&eacute;dio de liquidez banc&aacute;ria,
esterilizado pelas opera&ccedil;&otilde;es com prazo inferior a trinta dias, foi de R$50,9
bilh&otilde;es no per&iacute;odo.</li>



<br><br><li>Em mar&ccedil;o, a d&iacute;vida p&uacute;blica mobili&aacute;ria interna apresentou
aumento de 2,2%, devido basicamente à coloca&ccedil;&atilde;o l&iacute;quida de t&iacute;tulos de R$6,1
bilh&otilde;es, e à apropria&ccedil;&atilde;o de juros. A parcela prefixada aumentou de 13,6% para
15,4%, enquanto a parcela exposta à varia&ccedil;&atilde;o cambial reduziu-se de 19% para
17,7%.</li>

</ol>
<!--/conteudo-->

<!--TAG_CONTEUDO_FIM-->
<DIV class="noindex">
<div class="footer">
	<div style="width:190px;HEIGHT:60PX;float:left">
	      <a href="http://www.acessoainformacao.gov.br">
			   <img src="/imagens/acessoinformacao.png">
          </a>
    </div>	
	<div style="FLOAT:LEFT;vertical-align: middle;"><br>
	    <div>
		    Atendimento: 145 (custo de ligação local) | <a title="Ajuda" href="/?FALECONOSCO">Fale conosco</a> | <a title="Ajuda" href="/?AJUDA">Ajuda</a>&nbsp;
	    </div>
	    <div>
		    <a href="/?PRIVACIDADE" title="" tabindex="9"> Pol&iacute;tica de privacidade</a>&nbsp;| <a href="/?ACESSIBILIDADE" title="" tabindex="9">Pol&iacute;tica de acessibilidade</a>&nbsp;
		    &copy; Banco Central do Brasil - Todos os <a href="/?DIREITOSAUTOR">direitos reservados</a>
	    </div>
	</div>	
</div>
</DIV>
<script defer="defer" src="//www.bcb.gov.br/pt-br/paginas/js/barra-brasil.js" type="text/javascript"></script>