<!-- Antes da Trilha 20:56:23 --><!-- Depois da Trilha 20:56:23 --><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xml:lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" lang="pt-br"><head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<meta http-equiv="Content-Language" content="pt-br">

<link rel="shortcut icon" href="/imagens/shorticon.gif" type="image/x-icon" />

<link rel="stylesheet" type="text/css" href="/ncss/style.css">
<link rel="stylesheet" type="text/css" href="/ncss/style_menu.css" media="screen">
<link rel="stylesheet" type="text/css" href="/ncss/jquery-ui-1.8.6.custom.css">
<link rel="stylesheet" type="text/css" href="/ncss/style_icone.css" />

<script type="text/javascript" src="/njs/nuclear.js"></script>
<script type="text/javascript" src="https://www.bcb.gov.br/Paginas/js/libs/jquery/1.11.2/jquery.js"></script>
<script type="text/javascript" src="/njs/jquery.cycle.all.min.js"></script>
<script type="text/javascript" src="/njs/jquery-ui-1.8.6.custom.min.js"></script>
<script type="text/javascript" src="https://www.bcb.gov.br/Paginas/js/core/bcb.analytics.js"></script>
<script type="text/javascript" src="https://www.bcb.gov.br/Paginas/js/libs/angularjs/1.3.14/angular.min.js"></script>

<script type="text/javascript">
 
  $(document).ready(function () {
	finiciar();
	trackGA(document.title);
  });

</script>


<noscript>

</noscript>



 
<base href="//www.bcb.gov.br/htms/copom/not1999051935.asp" >
<title>Notas da 35&ordf; Reuni&atilde;o do Comit&ecirc; de Pol&iacute;tica Monet&aacute;ria do Banco Central do Brasil (COPOM)</title>

<base href="http://www.bcb.gov.br/htms/copom/Not1999051935.asp">

<script type="text/javascript">


  	var t_idioma = "P";


</script>
<meta name="TAG_ID" content="COPOM35"/>
<meta name="TAG_DATA_PUBLICACAO" content="30/07/1999" />
</head>
<body>

<!-- Zona se Salto - DosVOX -->

<DIV class="noindex">
<ul id="salto">
     <li><a title="" accesskey="1" href="/.">Página principal do site</a></li>
     <li><a title="" accesskey="2" href="/?NOTICIAS">Notícias</a></li>
     <li><a title="" accesskey="3" href="/?MAPA">Mapa do site</a></li>
     <li><a title="" accesskey="5" href="/?FAQCIDADAO">Perguntas Frequentes</a></li>
     <li><a title="" accesskey="6" href="/?AJUDA">Ajuda</a></li>
	 <li><a title="" accesskey="7" href="/?Ouvidoria">Ouvidoria</a></li>
     <li><a title="" accesskey="8" href="/?PRIVACIDADE">Política de privacidade</a></li>
     <li><a title="" accesskey="9" href="/?FALECONOSCO">Fale conosco</a></li>
     <li><a title="" accesskey="0" href="/?AJUDA#teclasdeatalho">Detalhes das teclas de atalho</a></li>
     <li><a title="" href="#ancoraInicio">Saltar para o início da página corrente</a></li>
     <li><a title="" href="#ancoraMenu">Saltar para o menu principal</a></li>
     <li><a title="" href="#ancoraConteudo">Saltar para o novo conteúdo</a></li>

</ul>
	<div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;"> 
					<ul id="menu-barra-temp" style="list-style:none;">
								   <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED"><a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a></li> 
								   <li><a style="font-family:sans,sans-serif; text-decoration:none; color:white;" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a></li>
					</ul>
	</div>
</DIV>
  <div accesskey="i" class="wrap" name="ancoraInicio">
    <DIV class="noindex">
    <div id="barraSuperior" style="text-align: right; padding: 2px 0 2px 0; background-color: #DDDDDD;">
      	<a href="/?SOBREBC">Sobre a Instituição</a> |
        <a accesskey="5" href="/?FAQCIDADAO">Perguntas frequentes</a> | 
	<a href="/?GLOSSARIO">Glossário</a> | 
	<a accesskey="3" href="/?MAPA">Mapa do site</a> | 
	<a href="/?SISBACEN">Sisbacen</a> | 
	<a accesskey="9" href="/?FALECONOSCO">Fale conosco</a> | 
	<a href="/?LINKS">Links</a>
      | <i><a href="/?ENGLISH">English</a></i>
    </div>
    </DIV>

<script language="javascript">
function utf8_encode (argString) {
    // http://kevin.vanzonneveld.net
    // +   original by: Webtoolkit.info (http://www.webtoolkit.info/)
    // +   improved by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
    // +   improved by: sowberry
    // +    tweaked by: Jack
    // +   bugfixed by: Onno Marsman
    // +   improved by: Yves Sucaet
    // +   bugfixed by: Onno Marsman
    // +   bugfixed by: Ulrich
    // +   bugfixed by: Rafal Kukawski
    // +   improved by: kirilloid
    // *     example 1: utf8_encode('Kevin van Zonneveld');
    // *     returns 1: 'Kevin van Zonneveld'

    if (argString === null || typeof argString === "undefined") {
        return "";
    }

    var string = (argString + ''); // .replace(/\r\n/g, "\n").replace(/\r/g, "\n");
    var utftext = '',
        start, end, stringl = 0;

    start = end = 0;
    stringl = string.length;
    for (var n = 0; n < stringl; n++) {
        var c1 = string.charCodeAt(n);
        var enc = null;

        if (c1 < 128) {
            end++;
        } else if (c1 > 127 && c1 < 2048) {
            enc = String.fromCharCode((c1 >> 6) | 192, (c1 & 63) | 128);
        } else {
            enc = String.fromCharCode((c1 >> 12) | 224, ((c1 >> 6) & 63) | 128, (c1 & 63) | 128);
        }
        if (enc !== null) {
            if (end > start) {
                utftext += string.slice(start, end);
            }
            utftext += enc;
            start = end = n + 1;
        }
    }

    if (end > start) {
        utftext += string.slice(start, stringl);
    }

    return utftext;
}

function submeterBusca(consulta) {
	if(consulta && consulta != '')
		window.location = "/pt-br/#!/busca/" + encodeURIComponent(consulta.trim());
}
</script>
	
<DIV class="noindex">
    <div class="header">
    	<div id="linkLogo"><a accesskey="1" href="/" title="Ir para página inicial"><i>Início</i></a></div>
      <div class="search">
        <form method="get" id="busca" onsubmit="javascript:submeterBusca(consulta.value);">
          <fieldset>
            <label for="">
              Busca:</label>
    	    <input accesskey="4" name="consulta" id="consulta" size="26" class="txtfield" type="text" style="width: 170px;">
			<input name="pesquisar" value="submit" src="/imagens/bt_procurar.gif" class="bt_search" type="image"><br>
            <span class="busca_avancada"><a href="/pt-br/#!/buscaavancada" class="linkTitulos"
          title="Busca Avançada">Busca avan&ccedil;ada</a></span>
          </fieldset>
        </form>
      </div>
      <div id="data">
      </div>
      <div id="logoPrint"><img src="/imagens/logoPrint.jpg" width="242" height="55" alt="Logomarca BCB"></div>

<div accesskey="m" name="ancoraMenu" style="position: absolute; left:-9999px;"></div>

<!DOCTYPE html>
<html ng-app="appMenuSP">


<body>
<div ng-controller="MainCtrl" id="menunivel1" ng-cloak class="fixo clear">
<ul id="topo" class="fixo">
	<li ng-repeat="item in menu.Descendentes" on-last-repeat>
		<a href="{{item.Link.indexOf('http') > -1?item.Link:'/' + item.Link}}"><span class="spa1" id="isp{{$index+1}}">{{item.Titulo}}</span></a>
		<div class="latesq" id="kol{{$index}}">
			<ul ng-repeat="grupo in item.gruposFilhos">
				<li ng-repeat="subitem in grupo">
					<a href="{{subitem.Link.indexOf('http') > -1?subitem.Link:'/' + subitem.Link}}">{{subitem.Titulo}}</a>
				</li>
			</ul>
		</div>
	</li>
</ul>
</div>

<script>
	var appMenuSP; 

	(function() {
		appMenuSP = angular.module('appMenuSP', []);

		appMenuSP.directive('onLastRepeat', function() {
			return function(scope, element, attrs) {
				if (scope.$last) setTimeout(function(){
					scope.$emit('onRepeatLast', element, attrs);
				}, 1);
			};
		});
		
		appMenuSP.controller('MainCtrl', ['$scope', '$http', function($scope, $http) {
			$scope.$on('onRepeatLast', function(scope, element, attrs){
			  menu();
			  	if ((typeof(t_PaginaPrincipal)!="undefined") && (t_PaginaPrincipal) ) { 
                criar_menu_rodape();
			  }
			});
			var nomeArquivoJSONMenu = '/api/navegacao/pt-br/menu?niveis=2&server=asp';
			if ((typeof t_idioma !== 'undefined')&&(t_idioma == 'I')) {
				nomeArquivoJSONMenu = '/api/navegacao/pt-br/menu_en?niveis=2&server=asp';
			}
		    $http.get(nomeArquivoJSONMenu).success(function(response){
				$scope.menu = response.item;
				agruparFilhos($scope.menu, 5);
			});
		}]);
	})();
	
	function agruparFilhos (item, qtdeNoGrupo) {
		item.gruposFilhos = [];
		var indiceDoGrupo = 0;
		if ((typeof t_idioma !== 'undefined')&&(t_idioma == 'I')) {
			if (item.Link.indexOf('http') == -1)
			item.Link= "en/" + item.Link;
			//item.Link= "?" + item.ID;
		}
		if (item.Descendentes != null){
			for (var i = 0; i < item.Descendentes.length; i++) {
				var indiceNoGrupo = i % qtdeNoGrupo;
				if (indiceNoGrupo == 0) {
					item.gruposFilhos[indiceDoGrupo] = [];
				}
				
				item.gruposFilhos[indiceDoGrupo][indiceNoGrupo] = item.Descendentes[i];
				agruparFilhos(item.Descendentes[i], qtdeNoGrupo);
				
				if (indiceNoGrupo == qtdeNoGrupo-1) {
					indiceDoGrupo++;
				}
			}
		}
	}
</script>
</body>

</html></div>	<!--fim do header --></DIV> <!-- fim do noindex --><div name="ancoraConteudo" class="conteudo" accesskey="c"><div class="noindex trilha"> <!-- estrutura da trilha --><ul><li><a title="Início" href="/">Início</a>&nbsp;&raquo;&nbsp;</li>

<li><a title="Sistema de Metas para a Inflação" href="/#!/n/sismetas">Sistema de Metas para a Inflação</a>&nbsp;&raquo;&nbsp;</li>

<li><a title="Copom" href="/#!/n/copom">Copom</a>&nbsp;&raquo;&nbsp;</li>

<li><a title="Atas do Copom" href="http://www.bcb.gov.br?atacopom">Atas do Copom</a>&nbsp;&raquo;&nbsp;</li>

<li>Notas da 35&ordf; Reuni&atilde;o do Comit&ecirc; de Pol&iacute;tica Monet&aacute;ria do Banco Central do Brasil (COPOM)</li>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div> <div class="clear"></div> <!-- estrutura da trilha #FIM --><h1>Notas da 35&ordf; Reuni&atilde;o do Comit&ecirc; de Pol&iacute;tica Monet&aacute;ria do Banco Central do Brasil (COPOM)</h1>
<!--TAG_ID=COPOM35;-->
<!--TAG_DATA_PUBLICACAO=1999-07-30;-->
<!--TAG_CONTEUDO_INICIO-->
<div style="clear: left; font-size: 60%;">&nbsp;</div>
  <!--conteudo-->

  
    <p><strong>Sum&aacute;rio</strong></p>

    <div>
      <a href="#_Toc457903854" title="Pre&ccedil;os e N&iacute;vel de Atividade">Pre&ccedil;os e N&iacute;vel de Atividade</a> 

      <div>
        <a href="#_Toc457903855" title="Agregados Monet&aacute;rios e Cr&eacute;dito">Agregados Monet&aacute;rios e Cr&eacute;dito</a>
      </div>

      <div>
        <a href="#_Toc457903856" title="Finan&ccedil;as P&uacute;blicas">Finan&ccedil;as P&uacute;blicas</a>
      </div>

      <div>
        <a href="#_Toc457903857" title="Balan&ccedil;o de Pagamentos">Balan&ccedil;o de Pagamentos</a>
      </div>

      <div>
        <a href="#_Toc457903858" title="Ambiente Externo">Ambiente Externo</a>
      </div>

      <div>
        <a href="#_Toc457903859" title="Evolu&ccedil;&atilde;o do Mercado de C&acirc;mbio Dom&eacute;stico e Posi&ccedil;&atilde;o das Reservas Internacionais">Evolu&ccedil;&atilde;o do Mercado de C&acirc;mbio Dom&eacute;stico e Posi&ccedil;&atilde;o das Reservas Internacionais</a>
      </div>

      <div>
        <a href="#_Toc457903860" title="Liquidez Banc&aacute;ria">Liquidez Banc&aacute;ria</a>
      </div>

      <div>
        <a href="#_Toc457903861" title="Mercado Monet&aacute;rio e Opera&ccedil;&otilde;es de Mercado Aberto">Mercado Monet&aacute;rio e Opera&ccedil;&otilde;es de Mercado Aberto</a>
      </div>

      <div>
        <a href="#_Toc457903862" title="Diretrizes de Pol&iacute;tica Monet&aacute;ria">Diretrizes de Pol&iacute;tica Monet&aacute;ria</a>
      </div><br>
    </div>
    <hr>
    &nbsp;

    <div>
      Data: <strong>19.05.1999</strong>
    </div> 

    <div>
      Local: Sala de reuni&otilde;es do 8&ordm; andar do Edif&iacute;cio-Sede do Banco Central - Bras&iacute;lia-DF
    </div>

    <div>
      <strong>Hor&aacute;rio de in&iacute;cio</strong>:16:00 h
    </div>

    <div>
      <strong>Hor&aacute;rio de t&eacute;rmino</strong>:19:05 h
    </div><br>

    <div>
      Presentes:
    </div>

    <div>
      Membros da Diretoria Colegiada
    </div>

    <div>
      Arminio Fraga Neto - <strong>Presidente</strong>
    </div>

    <div>
      Daniel Luiz Gleizer
    </div>

    <div>
      Edison Bernardes dos Santos
    </div>

    <div>
      Luiz Carlos Alvarez
    </div>

    <div>
      Luiz Fernando Figueiredo
    </div>

    <div>
      Paolo Enrico Maria Zaghen
    </div>

    <div>
      S&eacute;rgio Darcy da Silva Alves
    </div>

    <div>
      S&eacute;rgio Ribeiro da Costa Werlang
    </div><br>

    <div>
      Chefes de Departamento
    </div>

    <div>
      Altamir Lopes - Departamento Econ&ocirc;mico (<strong>DEPEC</strong>)
    </div>

    <div>
      Daso Maranh&atilde;o Coimbra -Departamento de Opera&ccedil;&otilde;es das Reservas Internacionais (<strong>DEPIN</strong>)
    </div>

    <div>
      Luis Gustavo da Matta Machado - Departamento de Opera&ccedil;&otilde;es Banc&aacute;rias (<strong>DEBAN</strong>)
    </div>

    <div>
      Eduardo Hitiro Nakao - Departamento de Opera&ccedil;&otilde;es de Mercado Aberto <strong>(DEMAB)</strong>
    </div><br>

    <div>
      Demais participantes:
    </div>

    <div>
      Alexandre Antonio Tombini - Chefe do Departamento de Estudos e Pesquisas (<strong>DEPEP</strong>)
    </div>

    <div>
      Alexandre Pundek Rocha - Consultor da Diretoria e Secret&aacute;rio Executivo do <strong>COPOM</strong>
    </div>

    <div>
      Alzira Rosa Morais da Silva - Economista e Assistente do Secret&aacute;rio Executivo do <strong>COPOM</strong>
    </div>

    <div>
      Iveraldo Sampaio de Souza - Economista e Assistente do Secret&aacute;rio Executivo do <strong>COPOM</strong>
    </div>

    <div>
      Cl&aacute;udia Safatle - Assessora de Imprensa (<strong>ASIMP</strong>)
    </div><br>

    <div>
      &nbsp;
    </div>

    <div>
      A Diretoria Colegiada analisou a evolu&ccedil;&atilde;o recente e as perspectivas da economia brasileira e da economia internacional considerando os informes dos Srs. Chefes de Departamento relativamente à an&aacute;lise da conjuntura, abrangendo infla&ccedil;&atilde;o, n&iacute;vel de atividade, evolu&ccedil;&atilde;o dos agregados monet&aacute;rios, finan&ccedil;as p&uacute;blicas e balan&ccedil;o de pagamentos (DEPEC); à evolu&ccedil;&atilde;o do mercado de c&acirc;mbio, opera&ccedil;&otilde;es cambiais conduzidas pelo Banco Central, posi&ccedil;&atilde;o das reservas internacionais e ambiente externo (DEPIN); ao estado da liquidez banc&aacute;ria (DEBAN); e à situa&ccedil;&atilde;o do mercado monet&aacute;rio e opera&ccedil;&otilde;es de mercado aberto (DEMAB).
    </div><br>

    <div>
      &nbsp;
    </div>

    <div>
      &nbsp;
    </div>

    <div>
      <strong><a name="_Toc457903854" title="Pre&ccedil;os e N&iacute;vel de Atividade">Pre&ccedil;os e N&iacute;vel de Atividade</a></strong>
    </div><br>

    <div>
      O comportamento dos &iacute;ndices gerais de pre&ccedil;os mostrou o esgotamento progressivo dos efeitos da desvaloriza&ccedil;&atilde;o do real, com desacelera&ccedil;&atilde;o mais acentuada dos &Iacute;ndices de Pre&ccedil;os por Atacado (IPA). O IPA-DI caiu 0,3% em abril, ante a eleva&ccedil;&atilde;o de 2,8% ocorrida em mar&ccedil;o. Observou-se comportamento favor&aacute;vel tanto dos pre&ccedil;os dos bens de produ&ccedil;&atilde;o (destacando-se a redu&ccedil;&atilde;o dos pre&ccedil;os das mat&eacute;rias-primas) quanto de consumo (queda de 3,6% dos pre&ccedil;os dos alimentos)
    </div><br>

    <div>
      Os &iacute;ndices de pre&ccedil;os ao consumidor foram favoravelmente influenciados pela queda dos pre&ccedil;os dos produtos aliment&iacute;cios e pelo comportamento dos pre&ccedil;os dos servi&ccedil;os, que apresentaram varia&ccedil;&atilde;o inferior à m&eacute;dia.
    </div><br>

    <div>
      A produ&ccedil;&atilde;o industrial elevou-se 1,7% em mar&ccedil;o (dados dessazonalizados), como conseq&uuml;&ecirc;ncia de aumento observado em todas as categorias de uso. O comportamento dos bens de consumo dur&aacute;veis (+5,2%) refletiu o crescimento da produ&ccedil;&atilde;o de autom&oacute;veis, positivamente afetada pela redu&ccedil;&atilde;o do IPI estabelecida no Acordo Emergencial do Setor Automotivo. Os bens semidur&aacute;veis e n&atilde;o- dur&aacute;veis apresentaram expans&atilde;o de 3,1% e os intermedi&aacute;rios, de 1,4%. O crescimento de 0,6% na produ&ccedil;&atilde;o de bens de capital foi influenciado pela eleva&ccedil;&atilde;o de 8,7% no item m&aacute;quinas e equipamentos agr&iacute;colas.
    </div><br>

    <div>
      Em abril, a produ&ccedil;&atilde;o da ind&uacute;stria automobil&iacute;stica voltou a cair, ap&oacute;s crescimento acentuado em mar&ccedil;o, acumulando no ano retra&ccedil;&atilde;o de 27,1%. As vendas internas elevaram-se 23,3% no mesmo per&iacute;odo, enquanto as externas declinaram 16,1%.
    </div><br>

    <div>
      A taxa de desemprego aberto elevou-se em mar&ccedil;o, atingindo 8,15% (7,51% em fevereiro), traduzindo eleva&ccedil;&atilde;o da popula&ccedil;&atilde;o economicamente ativa (PEA) superior ao aumento das ocupa&ccedil;&otilde;es.
    </div><br>

    <div>
      &nbsp;
    </div>

    <div>
      <strong><a name="_Toc457903855" title="Agregados Monet&aacute;rios e Cr&eacute;dito">Agregados Monet&aacute;rios e Cr&eacute;dito</a></strong>
    </div><br>

    <div>
      No m&ecirc;s de abril, a base monet&aacute;ria, considerada a m&eacute;dia dos saldos di&aacute;rios, atingiu R$ 36,5 bilh&otilde;es, com redu&ccedil;&atilde;o de 3,1% no m&ecirc;s e expans&atilde;o de 18,2% nos &uacute;ltimos doze meses. A base ampliada, esta apresentou decr&eacute;scimo de 0,6% no m&ecirc;s e expans&atilde;o de 22,1% no acumulado de doze meses. Este comportamento &eacute; explicado, principalmente, pela redu&ccedil;&atilde;o de 0,4% no saldo dos t&iacute;tulos p&uacute;blicos federais fora da carteira da Autoridade Monet&aacute;ria. A aprecia&ccedil;&atilde;o cambial registrada em abril foi um fator importante para decr&eacute;scimo do valor da carteira de t&iacute;tulos em poder do p&uacute;blico. O saldo mensal de final de per&iacute;odo dos meios de pagamento no conceito ampliado (M4) atingiu R$ 479,3 bilh&otilde;es, representando expans&atilde;o de 0,4% no m&ecirc;s.
    </div><br>

    <div>
      O saldo dos empr&eacute;stimos em curso normal do sistema financeiro atingiu R$ 261,5 bilh&otilde;es, com decl&iacute;nio de 2,4% em mar&ccedil;o e crescimento de 2,7% no ano. O comportamento deve-se, basicamente, ao impacto da aprecia&ccedil;&atilde;o do real, comparativamente a fevereiro, nos contratos referenciados em moeda estrangeira com o setor privado, uma vez que o mercado de cr&eacute;dito vem apresentando postura conservadora.
    </div><br>

    <div>
      No ano, a inadimpl&ecirc;ncia apresentou decr&eacute;scimo de 1,7%, atingindo 9% em rela&ccedil;&atilde;o ao cr&eacute;dito total.
    </div><br>

    <div>
      &nbsp;
    </div>

    <div>
      <strong><a name="_Toc457903856" title="Finan&ccedil;as P&uacute;blicas">Finan&ccedil;as P&uacute;blicas</a></strong>
    </div><br>

    <div>
      A D&iacute;vida L&iacute;quida do Setor P&uacute;blico (DLSP) em mar&ccedil;o de 1999 alcan&ccedil;ou valor equivalente a 48,2% do PIB. Por segmento, essa participa&ccedil;&atilde;o relativa apresentou-se da seguinte forma: Governo Central e Banco Central, 29,7%; Estados e Munic&iacute;pios, 14,9%; e Empresas Estatais, 3,5%.
    </div><br>

    <div>
      No primeiro trimestre, o fluxo das Necessidades de Financiamento do Setor P&uacute;blico (NFSP), no conceito prim&aacute;rio, apresentou super&aacute;vit correspondente a 4,1% do PIB, superior em 1,3 ponto percentual ao projetado no acordo com o Fundo Monet&aacute;rio Internacional.
    </div><br>

    <div>
      As despesas com juros nominais no per&iacute;odo de janeiro a mar&ccedil;o de 1999 atingiram 27,5% do PIB, enquanto as NFSP no conceito nominal foram deficit&aacute;rias em 23,4% do PIB.
    </div><br>

    <div>
      &nbsp;
    </div>

    <div>
      <strong><a name="_Toc457903857" title="Balan&ccedil;o de Pagamentos">Balan&ccedil;o de Pagamentos</a></strong>
    </div><br>

    <div>
      No acumulado de janeiro a abril de 1999, o balan&ccedil;o comercial apresentou melhor resultado para os produtos semimanufaturados e b&aacute;sicos, com super&aacute;vits de US$ 2 bilh&otilde;es e US$ 1,5 bilh&atilde;o, respectivamente. Em compara&ccedil;&atilde;o a igual per&iacute;odo do ano anterior, os produtos manufaturados registraram a melhor evolu&ccedil;&atilde;o, com redu&ccedil;&atilde;o de US$ 1,1 bilh&atilde;o no d&eacute;ficit.
    </div><br>

    <div>
      O resultado do balan&ccedil;o comercial por principais blocos mostra diminui&ccedil;&atilde;o acentuada nos d&eacute;ficits com os EUA e a &Aacute;sia. Com a ALADI, houve queda de cerca de US$ 1 bilh&atilde;o tanto nas exporta&ccedil;&otilde;es quanto nas importa&ccedil;&otilde;es, representando a maior parcela do decl&iacute;nio em ambos movimentos.
    </div><br>

    <div>
      Observa-se decl&iacute;nio do &iacute;ndice de pre&ccedil;os de exporta&ccedil;&atilde;o desde 98. Em termos de quantidade, no m&ecirc;s de janeiro ocorreu redu&ccedil;&atilde;o significativa, recuperando-se em fevereiro e mar&ccedil;o. Ocorreram quedas mais significativas nos &iacute;ndices de pre&ccedil;os de exporta&ccedil;&atilde;o dos produtos b&aacute;sicos e semimanufaturados, combinados com aumento na quantidade.
    </div><br>

    <div>
      O &iacute;ndice de pre&ccedil;os das importa&ccedil;&otilde;es mostra acr&eacute;scimo at&eacute; fevereiro e pequena retra&ccedil;&atilde;o em mar&ccedil;o. Em termos de quantidade, houve queda acentuada em janeiro e fevereiro, com relativa recupera&ccedil;&atilde;o em mar&ccedil;o. Esse comportamento &eacute; praticamente o mesmo para os &iacute;ndices de pre&ccedil;os e quantidade em todas as categorias de uso e destina&ccedil;&atilde;o econ&ocirc;mica.
    </div><br>

    <div>
      As exporta&ccedil;&otilde;es perderam, ao longo de 1998, participa&ccedil;&atilde;o relativa no mercado mundial. Espera-se que os efeitos positivos da desvaloriza&ccedil;&atilde;o cambial ocorram a partir do segundo semestre de 1999.
    </div><br>

    <div>
      No m&ecirc;s de abril observou-se aumento na transfer&ecirc;ncia de renda, especialmente na rubrica juros, com US$ 1,9 bilh&atilde;o e diminui&ccedil;&atilde;o nos gastos com servi&ccedil;os n&atilde;o fatores.
    </div><br>

    <div>
      As despesas l&iacute;quidas com lucros e dividendos diminu&iacute;ram 41 % no m&ecirc;s, em rela&ccedil;&atilde;o a abril de 1998. Os gastos com viagens internacionais reduziram-se significativamente, situando-se em um quarto do valor registrado para os primeiros meses de 1998.
    </div><br>

    <div>
      Em abril, os investimentos diretos alcan&ccedil;aram US$ 1,5 bilh&atilde;o, em sua maior parte devido à privatiza&ccedil;&atilde;o da COMG&Aacute;S (US$ 963 milh&otilde;es). Os ingressos l&iacute;quidos em carteira <i>(portfolio)</i> chegaram a US$ 563 milh&otilde;es no m&ecirc;s.
    </div><br>

    <div>
      A queda das importa&ccedil;&otilde;es tem proporcionado desembolsos l&iacute;quidos negativos nos financiamentos de com&eacute;rcio, como o ocorrido em abril (US$ 500 milh&otilde;es).
    </div><br>

    <div>
      Os empr&eacute;stimos alcan&ccedil;aram US$ 3,2 bilh&otilde;es em abril, incluindo a coloca&ccedil;&atilde;o de US$ 2 bilh&otilde;es (l&iacute;quidos) de <i>Global Bonds</i>, e US$ 2,8 bilh&otilde;es em maio.
    </div><br>

    <div>
      A retra&ccedil;&atilde;o nas linhas de cr&eacute;dito de m&eacute;dio e longo prazo est&aacute; sendo compensada por aumentos nas linhas de exporta&ccedil;&atilde;o de curto prazo.
    </div><br>

    <div>
      O balan&ccedil;o de pagamentos apresentou super&aacute;vit de US$ 0,6 bilh&atilde;o em abril e d&eacute;ficit de US$ 9,9 bilh&otilde;es no per&iacute;odo janeiro a abril.
    </div><br>

    <div>
      &nbsp;
    </div>

    <div>
      <strong><a name="_Toc457903858" title="Ambiente Externo">Ambiente Externo</a></strong>
    </div><br>

    <div>
      Na reuni&atilde;o de 18 de maio, o Comit&ecirc; de Mercado Aberto do FED (<i>FOMC)</i> decidiu manter a meta para a taxa de <i>Fed Funds</i> em 4,75 % a.a. O <i>Fed</i> adotou um vi&eacute;s de alta para as taxas de juros ap&oacute;s os &uacute;ltimos n&uacute;meros de infla&ccedil;&atilde;o e anunciou que est&aacute; preparado para aumentar as taxas se a economia americana continuar aquecida. O &iacute;ndice de pre&ccedil;os ao consumidor <i>(CPI)</i> subiu 0,7% em abril e o <i>CPI-core</i> (excluindo alimentos e energia) subiu 0,4%, ambos bem acima das expectativas de mercado.
    </div><br>

    <div>
      Com rela&ccedil;&atilde;o ao mercado de trabalho, embora a varia&ccedil;&atilde;o no n&uacute;mero de empregados <i>(payroll)</i> tenha ficado em 234 mil em abril, outros dados de emprego ficaram aqu&eacute;m do esperado, o que implica que as press&otilde;es sobre os custos trabalhistas t&ecirc;m sido menores.
    </div><br>

    <div>
      O diferencial (<i>spread</i>) entre as taxas internas de retorno do b&ocirc;nus de 30 anos e os TIPS (t&iacute;tulo do tesouro norte-americano indexado à infla&ccedil;&atilde;o) foi reduzido, o que pode ser interpretado como uma redu&ccedil;&atilde;o das expectativas de infla&ccedil;&atilde;o para o longo prazo.
    </div><br>

    <div>
      A evolu&ccedil;&atilde;o dos lucros l&iacute;quidos de impostos &eacute; um indicador importante da economia, pois pode ser utilizado para prever desacelera&ccedil;&otilde;es na atividade econ&ocirc;mica. Os lucros l&iacute;quidos de impostos atingiram um pico no terceiro trimestre de 97 e v&ecirc;m caindo desde ent&atilde;o. Nos dois &uacute;ltimos trimestres do ano passado ca&iacute;ram 0.93% e 1%, respectivamente.
    </div><br>

    <div>
      O &iacute;ndice NAPM (Associa&ccedil;&atilde;o Nacional dos Gerentes de Compras), que mede o comportamento da ind&uacute;stria manufatureira (valores abaixo de 50 indicam contra&ccedil;&atilde;o e acima de 50 indicam expans&atilde;o), nos meses de fevereiro, mar&ccedil;o e abril ficou acima de 50, mas em abril caiu 2,76 % com respeito a mar&ccedil;o. O NAPM de n&atilde;o manufaturados, que mede o n&iacute;vel de atividade nos setores de servi&ccedil;os e constru&ccedil;&atilde;o, tamb&eacute;m indicou expans&atilde;o das atividades, alcan&ccedil;ando 64 em abril. Isto representa eleva&ccedil;&atilde;o de 2,4% no m&ecirc;s.
    </div><br>

    <div>
      Quanto à atividade econ&ocirc;mica na Europa, a desacelera&ccedil;&atilde;o vem chegando ao fim. O crescimento deve retornar com vigor, beneficiado por condi&ccedil;&otilde;es monet&aacute;rias muito favor&aacute;veis, pela queda do euro e pelo aumento da demanda global p&oacute;s-crise. Como resultado do aumento do pre&ccedil;o de mercadorias (<i>commodities</i>), principalmente do petr&oacute;leo, a infla&ccedil;&atilde;o deve retornar ao patamar de 1,5% ao ano at&eacute; o final de 99.
    </div><br>

    <div>
      O presidente do Banco Central Europeu (BCE) reafirmou na &uacute;ltima semana que o conselho de governo tem uma vis&atilde;o estritamente neutra para a pol&iacute;tica monet&aacute;ria no presente, isto &eacute;, sem vi&eacute;s para aumento ou redu&ccedil;&atilde;o dos juros. Com a retomada de uma maior taxa de crescimento e com o aumento moderado da infla&ccedil;&atilde;o, espera-se que o BCE mantenha os juros em 2,5% at&eacute; o final de 99 e aumente a taxa ligeiramente em algum momento de 2000, de forma a atingir uma taxa de juros real "neutra" de 1,5% ao ano.
    </div><br>

    <div>
      Verificou-se aprecia&ccedil;&atilde;o do euro frente ao d&oacute;lar, devido aos seguintes fatores: expressivo e crescente d&eacute;ficit em transa&ccedil;&otilde;es correntes americano (mais de US$200 bilh&otilde;es por ano) em compara&ccedil;&atilde;o ao super&aacute;vit na &aacute;rea do euro; perspectiva de retomada de crescimento na Europa face a desacelera&ccedil;&atilde;o nos EUA e eventual solu&ccedil;&atilde;o do problema nos B&aacute;lc&atilde;s.
    </div><br>

    <div>
      Ressalte-se que as exporta&ccedil;&otilde;es brasileiras para a Europa aumentaram devido principalmente ao maior crescimento econ&ocirc;mico europeu e à redu&ccedil;&atilde;o de subs&iacute;dios naquela regi&atilde;o.
    </div><br>

    <div>
      No tocante à economia do Jap&atilde;o, os efeitos das pol&iacute;ticas de est&iacute;mulo s&oacute; est&atilde;o conseguindo evitar resultados ainda mais desastrosos. O Relat&oacute;rio da Ag&ecirc;ncia de Planejamento Econ&ocirc;mico (EPA) considera que a economia permanece numa situa&ccedil;&atilde;o muito severa, em fun&ccedil;&atilde;o do desemprego crescente e da queda dos sal&aacute;rios deprimindo o n&iacute;vel de consumo. O Ministro das Finan&ccedil;as afirmou que o governo deve apresentar em junho um pacote de medidas visando aumentar o emprego e a competitividade das empresas.
    </div><br>

    <div>
      &nbsp;
    </div>

    <div>
      <strong><a name="_Toc457903859" title="Evolu&ccedil;&atilde;o do Mercado de C&acirc;mbio Dom&eacute;stico e Posi&ccedil;&atilde;o das Reservas Internacionais">Evolu&ccedil;&atilde;o do Mercado de C&acirc;mbio Dom&eacute;stico e Posi&ccedil;&atilde;o das Reservas Internacionais</a></strong>
    </div><br>

    <div>
      O mercado de c&acirc;mbio se comportou conforme seria esperado em uma fase final de sobrevaloriza&ccedil;&atilde;o cambial, como o que ocorreu a partir da mudan&ccedil;a da pol&iacute;tica cambial em 12 de janeiro deste ano. A volatilidade foi diminuindo desde o final de fevereiro, corroborando a id&eacute;ia de que a taxa de c&acirc;mbio est&aacute; caminhando para uma trajet&oacute;ria de equil&iacute;brio e estabilidade.
    </div><br>

    <div>
      A posi&ccedil;&atilde;o das reservas, em 18 de maio, encontrava-se em US$ 43,8 bilh&otilde;es, pelo conceito caixa e US$ 44,7 bilh&otilde;es pelo conceito de liquidez.
    </div><br>

    <div>
      &nbsp;
    </div>

    <div>
      <strong><a name="_Toc457903860" title="Liquidez Banc&aacute;ria">Liquidez Banc&aacute;ria</a></strong>
    </div><br>

    <div>
      Em 6 de maio, foi reduzida a al&iacute;quota de recolhimento compuls&oacute;rio sobre recursos a prazo, de 30% para 25%, medida que come&ccedil;ou a vigorar a partir do per&iacute;odo de ajuste que se inicia em 21 de maio. Para a base de incid&ecirc;ncia de aproximadamente R$ 90,0 bilh&otilde;es, a diferen&ccedil;a liberada, em t&iacute;tulos p&uacute;blicos federais, foi da ordem de R$ 4,5 bilh&otilde;es.
    </div><br>

    <div>
      Ap&oacute;s a redu&ccedil;&atilde;o, em mar&ccedil;o, da al&iacute;quota de recolhimento compuls&oacute;rio sobre contratos de assun&ccedil;&atilde;o de obriga&ccedil;&otilde;es vinculados a opera&ccedil;&otilde;es realizadas com o exterior, o montante de contratos passou de R$ 0,9 milh&atilde;o, em 18 de mar&ccedil;o, para R$ 1,3 bilh&atilde;o, em 30 de abril.
    </div><br>

    <div>
      Em abril e em maio, at&eacute; o dia 17, a base monet&aacute;ria aumentou R$ 339,2 milh&otilde;es e R$ 263,1 milh&otilde;es, respectivamente. Os principais fatores expansionistas da &aacute;rea banc&aacute;ria foram as libera&ccedil;&otilde;es do encaixe obrigat&oacute;rio relativo aos dep&oacute;sitos de poupan&ccedil;a e do dep&oacute;sito obrigat&oacute;rio referente a fundos.
    </div><br>

    <div>
      Entre os dias 13 de abril e 17 de maio, n&atilde;o foram realizadas opera&ccedil;&otilde;es no mercado de DI-Reserva extra-conglomerado. O mercado de DI por um dia (<i>over</i>), no mesmo per&iacute;odo, movimentou R$ 16 bilh&otilde;es na m&eacute;dia di&aacute;ria. Em abril, 85% do volume total negociado foi operado dentro do pr&oacute;prio conglomerado.
    </div><br>

    <div>
      O aumento, em abril, da exigibilidade total (R$ 2,1 bilh&otilde;es), no conceito "m&eacute;dia dos saldos di&aacute;rios", ainda reflete o aumento do exig&iacute;vel sobre recursos a prazo, efetivado nos dias 5 e 12 de mar&ccedil;o e totalmente incorporado à m&eacute;dia de abril. Esse aumento n&atilde;o foi contrabalan&ccedil;ado pelo comportamento dos recursos à vista, cujo exig&iacute;vel tem diminu&iacute;do desde janeiro. Em maio, at&eacute; o dia 17, a exigibilidade total declinou R$ 0,6 bilh&atilde;o em decorr&ecirc;ncia, novamente, da queda do exig&iacute;vel sobre recursos à vista. A retra&ccedil;&atilde;o do PIB e as medidas adotadas para o cumprimento do objetivo de restri&ccedil;&atilde;o de cr&eacute;dito interno l&iacute;quido refletem-se no decl&iacute;nio do M1.
    </div><br>

    <div>
      O total recolhido, no conceito "m&eacute;dia dos saldos di&aacute;rios", aumentou R$ 2,6 bilh&otilde;es, em abril, e declinou R$ 1 bilh&atilde;o em maio, at&eacute; o dia 17.
    </div><br>

    <div>
      O "vi&eacute;s de redu&ccedil;&atilde;o", utilizado tr&ecirc;s vezes desde a &uacute;ltima reuni&atilde;o do COPOM, e as interven&ccedil;&otilde;es no mercado aberto sinalizando queda na taxa de juros fizeram com que os bancos deixassem para cumprir a exigibilidade compuls&oacute;ria m&eacute;dia ao final de cada per&iacute;odo.
    </div><br>

    <div>
      O custo de capta&ccedil;&atilde;o dos recolhimentos compuls&oacute;rios em esp&eacute;cie diminuiu em abril, em raz&atilde;o principalmente da acentuada redu&ccedil;&atilde;o da TR e da conseq&uuml;ente queda na remunera&ccedil;&atilde;o do recolhimento naquele m&ecirc;s.
    </div><br>

    <div>
      A al&iacute;quota efetiva de recolhimento compuls&oacute;rio sobre recursos à vista, no conceito "m&eacute;dia m&oacute;vel trimestral centrada", permanece ao redor de 68%.
    </div><br>

    <div>
      Os dep&oacute;sitos de poupan&ccedil;a apresentaram resgates l&iacute;quidos superiores a R$ 1 bilh&atilde;o em abril, perda que n&atilde;o se observava desde o mesmo m&ecirc;s do ano passado. Essa tend&ecirc;ncia se mantendo at&eacute; o dia 11de maio. No entanto, a exigibilidade sobre esses dep&oacute;sitos cresceu R$ 100 milh&otilde;es ao longo desse per&iacute;odo, resultado da remunera&ccedil;&atilde;o incidente sobre o saldo da poupan&ccedil;a.
    </div><br>

    <div>
      A despeito da relativa estabilidade da base de incid&ecirc;ncia, o exig&iacute;vel referente aos recursos a prazo aumentou, em abril, em virtude da eleva&ccedil;&atilde;o da al&iacute;quota e da incorpora&ccedil;&atilde;o, àquela rubrica, do contrato de assun&ccedil;&atilde;o de obriga&ccedil;&otilde;es externas, a partir de 19 de mar&ccedil;o. Naquele m&ecirc;s, o total recolhido (aproximadamente igual ao exig&iacute;vel) relativo aos contratos de assun&ccedil;&atilde;o foi de cerca de R$ 200 milh&otilde;es. Em maio, at&eacute; o dia 17, o exig&iacute;vel referente aos recursos a prazo declinou R$ 100 milh&otilde;es.
    </div><br>

    <div>
      Observou-se, a substitui&ccedil;&atilde;o de parte da carteira <i>(portfolio)</i> dos fundos, durante o m&ecirc;s de abril, de CDB por t&iacute;tulos p&uacute;blicos federais, haja vista a gradual coloca&ccedil;&atilde;o l&iacute;quida de t&iacute;tulos p&uacute;blicos prefixados e a proximidade da entrada em vigor da CPMF.
    </div><br>

    <div>
      Os fundos de investimento seguem apresentando capta&ccedil;&atilde;o l&iacute;quida positiva. Contudo, a exigibilidade desses fundos, no conceito "m&eacute;dia dos saldos di&aacute;rios", continua declinando R$ 100 milh&otilde;es ao m&ecirc;s, pois os FIF-CP apresentaram capta&ccedil;&atilde;o negativa em abril.
    </div><br>

    <div>
      Os FIF - 30 dias apresentaram capta&ccedil;&atilde;o l&iacute;quida positiva em mar&ccedil;o e abril, em magnitude que n&atilde;o se verificava desde o in&iacute;cio de 1998. Provavelmente, pode estar havendo migra&ccedil;&atilde;o de recursos origin&aacute;rios de dep&oacute;sitos a prazo e de poupan&ccedil;a. Ressalte-se que esse movimento pode estar se esgotando, j&aacute; que o montante de capta&ccedil;&atilde;o l&iacute;quida positiva em maio, at&eacute; o dia 11, foi reduzido. Prossegue a recupera&ccedil;&atilde;o dos FIF - 60 dias e dos FIF - 90 dias, que, desde mar&ccedil;o, apresentam capta&ccedil;&atilde;o l&iacute;quida positiva.
    </div><br>

    <div>
      As altera&ccedil;&otilde;es na legisla&ccedil;&atilde;o dos Fundos de Renda Fixa - Capital Estrangeiro (FRF - CE) efetuadas em mar&ccedil;o n&atilde;o foram suficientes para manter a capta&ccedil;&atilde;o l&iacute;quida positiva superior a R$ 2 bilh&otilde;es observada naquele m&ecirc;s. Dessa forma, em abril, a capta&ccedil;&atilde;o l&iacute;quida foi de apenas R$ 98 milh&otilde;es e a de maio, at&eacute; o dia 11, negativa em R$ 17 milh&otilde;es. A permiss&atilde;o para aumento do percentual, de 20% para 40%, do patrim&ocirc;nio l&iacute;quido que pode ser aplicado em CDB de bancos n&atilde;o foi utilizada: em 30 de abril, apenas 3,7% da carteira desses fundos era composta por t&iacute;tulos de renda fixa de emiss&atilde;o ou aceite das institui&ccedil;&otilde;es financeiras.
    </div><br>

    <div>
      O patrim&ocirc;nio l&iacute;quido dos Fundos de Investimento no Exterior (FIEX) declinou de R$ 2 bilh&otilde;es, em 31 de mar&ccedil;o, para R$ 0,8 bilh&atilde;o em 30 de abril. O principal motivo da perda de patrim&ocirc;nio foi a introdu&ccedil;&atilde;o do regime de taxa de c&acirc;mbio flutuante, j&aacute; que toda valoriza&ccedil;&atilde;o ou desvaloriza&ccedil;&atilde;o cambial &eacute; imediatamente incorporada à rentabilidade dos fundos.
    </div><br>

    <div>
      Os fundos de a&ccedil;&otilde;es tradicionais e os fundos de a&ccedil;&otilde;es -- carteira livre continuaram a apresentar capta&ccedil;&atilde;o l&iacute;quida positiva, em abril, em virtude da queda da taxa de juros e da valoriza&ccedil;&atilde;o do IBOVESPA (6,1%), comportamento que n&atilde;o se repetiu para os fundos de a&ccedil;&otilde;es tradicionais em maio, at&eacute; o dia 11. O volume financeiro m&eacute;dio negociado na BOVESPA passou de R$ 528,5 milh&otilde;es, em mar&ccedil;o, para R$ 913,3 milh&otilde;es em abril.
    </div><br>

    <div>
      Desde a &uacute;ltima reuni&atilde;o do COPOM, n&atilde;o houve demanda por recursos na assist&ecirc;ncia de liquidez. Provavelmente, daqui em diante esse ser&aacute; o padr&atilde;o normal de utiliza&ccedil;&atilde;o, devido ao seu car&aacute;ter punitivo.
    </div><br>

    <div>
      &nbsp;
    </div>

    <div>
      <strong><a name="_Toc457903861" title="Mercado Monet&aacute;rio e Opera&ccedil;&otilde;es de Mercado Aberto">Mercado Monet&aacute;rio e Opera&ccedil;&otilde;es de Mercado Aberto</a></strong>
    </div><br>

    <div>
      O Comit&ecirc; de Pol&iacute;tica Monet&aacute;ria - COPOM, na reuni&atilde;o do dia 14 de abril, fixou a meta da Taxa SELIC em 34% a.a., com indica&ccedil;&atilde;o de vi&eacute;s de redu&ccedil;&atilde;o. A partir de ent&atilde;o, a meta foi alterada em tr&ecirc;s ocasi&otilde;es, para 32%, 29,5% e 27% a.a..
    </div><br>

    <div>
      Como se observa, num curto intervalo de tempo, houve queda significativa nos juros b&aacute;sicos. Entre os fatores que viabilizaram este movimento destacam-se: i) taxas de infla&ccedil;&atilde;o apuradas aqu&eacute;m das expectativas e, principalmente, revis&atilde;o para baixo das proje&ccedil;&otilde;es; ii) retomada do fluxo de entrada volunt&aacute;ria de capitais e a conseq&uuml;ente revers&atilde;o da trajet&oacute;ria de desvaloriza&ccedil;&atilde;o do real; iii) bons resultados na &aacute;rea fiscal.
    </div><br>

    <div>
      O Tesouro Nacional manteve a estrat&eacute;gia de vender, simultaneamente, Letras Financeiras do Tesouro - LFT e Letras do Tesouro Nacional - LTN. As LFT, com prazos de 371 a 728 dias, foram colocadas com des&aacute;gio anuais que oscilaram de 0,05% a 0,11%&nbsp;a.a.. As LTN foram vendidas com taxas de rentabilidade sistematicamente decrescentes a cada evento, com menores taxas nos t&iacute;tulos de prazo mais longo.
    </div><br>

    <div>
      O Banco Central ofertou B&ocirc;nus do Banco Central - BBC com prazo de 25 dias em 23 de abril e de 63 dias em 13 de maio, cujas taxas de rentabilidade foram de 31,5%&nbsp; e de 23,1%&nbsp;a.a., respectivamente. Foram efetuados seis leil&otilde;es de pre&ccedil;o &uacute;nico de NBCE com as taxas de juros situando-se entre 12,3% e 15,47%&nbsp;a.a., al&eacute;m da varia&ccedil;&atilde;o cambial.
    </div><br>

    <div>
      O Tesouro Nacional manteve a estrat&eacute;gia de refor&ccedil;ar o caixa. As opera&ccedil;&otilde;es com seus t&iacute;tulos envolveram coloca&ccedil;&otilde;es l&iacute;quidas equivalentes a R$ 16,9 bilh&otilde;es, enquanto o Banco Central promoveu um resgate l&iacute;quido de R$ 8 bilh&otilde;es.
    </div><br>

    <div>
      As interven&ccedil;&otilde;es do Banco Central caracterizaram-se por opera&ccedil;&otilde;es defensivas de mercado aberto, consubstanciadas na realiza&ccedil;&atilde;o de leil&otilde;es informais de dinheiro, tomando recursos com o objetivo de nivelar o excesso de reservas banc&aacute;rias prevalecente.
    </div><br>

    <div>
      De acordo com as condi&ccedil;&otilde;es de liquidez previstas para as pr&oacute;ximas semanas, espera-se a perman&ecirc;ncia do excesso de liquidez registrado atualmente, admitida a neutralidade das contas cambiais e das ofertas p&uacute;blicas de t&iacute;tulos a serem realizadas a partir da pr&oacute;xima semana.
    </div><br>

    <div>
      A estrutura a termo da taxa de juros, de modo geral, vem se deslocando para baixo. O rendimento prefixado dos t&iacute;tulos com prazo de 30 dias declinou de 31,6% a.a. no dia 20 de abril para 22,5% a.a. em 18 de maio. A inclina&ccedil;&atilde;o da curva de juros sinaliza uma persistente expectativa de queda nas taxas de at&eacute; 90 dias. Por sua vez, a rentabilidade das opera&ccedil;&otilde;es com prazo de 180 dias caiu de 28,13% para 22,05%&nbsp;a.a.. J&aacute; para prazos superiores a 180 dias, a curva sofre uma inflex&atilde;o, o que reflete um maior pr&ecirc;mio de risco em fun&ccedil;&atilde;o da incerteza quanto ao cen&aacute;rio econ&ocirc;mico.
    </div><br>

    <div>
      &nbsp;
    </div>

    <div>
      &nbsp;
    </div>

    <div>
      &nbsp;
    </div>

    <div>
      <strong><a name="_Toc457903862" title="Diretrizes de Pol&iacute;tica Monet&aacute;ria">Diretrizes de Pol&iacute;tica Monet&aacute;ria</a></strong>
    </div><br>

    <div>
      Ap&oacute;s as apresenta&ccedil;&otilde;es dos Srs. Chefes de Departamento, o Comit&ecirc; passou à discuss&atilde;o das diretrizes de pol&iacute;tica monet&aacute;ria e à an&aacute;lise das propostas para a defini&ccedil;&atilde;o da meta para a Taxa SELIC.
    </div><br>

    <div>
      As expectativas de trajet&oacute;ria de infla&ccedil;&atilde;o dos agentes de mercado apresentavam pouca dispers&atilde;o, indicando a forma&ccedil;&atilde;o do consenso de que a tend&ecirc;ncia decrescente era consistente.
    </div><br>

    <div>
      O ajuste fiscal apresentava evolu&ccedil;&atilde;o favor&aacute;vel e o Governo Federal sinalizava ter consci&ecirc;ncia e disposi&ccedil;&atilde;o para atuar sobre os pontos de maior vulnerabilidade.
    </div><br>

    <div>
      Desde abril, o cupom de curto prazo n&atilde;o se mostrava atrativo, de forma que quem realizasse opera&ccedil;&otilde;es de arbitragem com prazo inferior a 90 dias teria remunera&ccedil;&atilde;o negativa. Isso ilustrava que as decis&otilde;es tomadas at&eacute; aquele momento em rela&ccedil;&atilde;o à trajet&oacute;ria das taxas de juros haviam sido adequadas, principalmente no que se referia à taxa de juros real.
    </div><br>

    <div>
      Considerando-se apenas a expectativa de infla&ccedil;&atilde;o declinante a taxa de juros reais encontrava-se em patamar elevado o que permitiria uma redu&ccedil;&atilde;o maior caso n&atilde;o fossem consideradas as incertezas do cen&aacute;rio externo. Neste caso o Banco Central deveria agir de maneira conservadora, confirmando as expectativas de queda da taxa de juros do mercado e mantendo o vi&eacute;s de redu&ccedil;&atilde;o que permitiria redu&ccedil;&otilde;es adicionais à medida que essa fase de transi&ccedil;&atilde;o evidenciasse melhora nas expectativas do cen&aacute;rio externo.
    </div><br>

    <div>
      Apesar do maior ingresso de capitais, a piora nas cota&ccedil;&otilde;es dos t&iacute;tulos da d&iacute;vida externa brasileira <i>(Bradies)</i>, superior à deteriora&ccedil;&atilde;o do &Iacute;ndice dos B&ocirc;nus dos Mercados Emergentes <i>(EMBIs)</i>, demonstrava que o cen&aacute;rio de incertezas ainda n&atilde;o se dissipara.
    </div><br>

    <div>
      Foi comentado que as importa&ccedil;&otilde;es ainda n&atilde;o apresentaram a contra&ccedil;&atilde;o esperada, em fun&ccedil;&atilde;o de o n&iacute;vel de atividade manter-se acima das expectativas iniciais e concluiu-se que n&atilde;o havia expectativa de press&atilde;o inflacion&aacute;ria.
    </div><br>

    <div>
      No ambiente externo, o principal destaque era a fragilidade de alguns pa&iacute;ses emergentes fazendo com que a ado&ccedil;&atilde;o do vi&eacute;s ascendente pelo banco central norte-americano afetasse suas economias e refletisse na economia brasileira.
    </div><br>

    <div>
      Em s&iacute;ntese, as condi&ccedil;&otilde;es gerais registravam persist&ecirc;ncia dos aspectos positivos, sugerindo alguma consolida&ccedil;&atilde;o da conjuntura favor&aacute;vel. No entanto, em fun&ccedil;&atilde;o de incertezas no cen&aacute;rio externo que aumentavam a volatilidade no mercado dom&eacute;stico, a decis&atilde;o do Comit&ecirc; deveria ser conservadora.
    </div><br>

    <div>
      Ap&oacute;s estas considera&ccedil;&otilde;es, foi decidido, por vota&ccedil;&atilde;o un&acirc;nime, reduzir a meta da Taxa SELIC para 23,50% a.a., mantendo-se o seu vi&eacute;s de redu&ccedil;&atilde;o.
    </div><br>

    <div>
      Ao final da reuni&atilde;o, foi lembrado que o Comit&ecirc; voltaria a se reunir em 23 de junho de 1999, às 16:30 h, conforme estabelecido no Calend&aacute;rio das Reuni&otilde;es Ordin&aacute;rias do COPOM, divulgado pelo Comunicado n&ordm; 6.438, de 28.10.1998, do Banco Central.
    </div><br>

    <div>
      &nbsp;
    </div>

    <div>
      &nbsp;
    </div>

    <div>
      &nbsp;
    </div>

    <div>
      Alexandre Pundek Rocha
    </div>

    <div>
      Secret&aacute;rio Executivo do COPOM
    </div>
  
  <!--/conteudo-->

<!--TAG_CONTEUDO_FIM-->
<DIV class="noindex">
<div class="footer">
	<div style="width:190px;HEIGHT:60PX;float:left">
	      <a href="http://www.acessoainformacao.gov.br">
			   <img src="/imagens/acessoinformacao.png">
          </a>
    </div>	
	<div style="FLOAT:LEFT;vertical-align: middle;"><br>
	    <div>
		    Atendimento: 145 (custo de ligação local) | <a title="Ajuda" href="/?FALECONOSCO">Fale conosco</a> | <a title="Ajuda" href="/?AJUDA">Ajuda</a>&nbsp;
	    </div>
	    <div>
		    <a href="/?PRIVACIDADE" title="" tabindex="9"> Pol&iacute;tica de privacidade</a>&nbsp;| <a href="/?ACESSIBILIDADE" title="" tabindex="9">Pol&iacute;tica de acessibilidade</a>&nbsp;
		    &copy; Banco Central do Brasil - Todos os <a href="/?DIREITOSAUTOR">direitos reservados</a>
	    </div>
	</div>	
</div>
</DIV>
<script defer="defer" src="//www.bcb.gov.br/pt-br/paginas/js/barra-brasil.js" type="text/javascript"></script>